@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

h1 + header {
  border-bottom: 1px solid $grey;
}

section.applications {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
  width: 100%;

  > div {
    display: table-row;
    border-bottom: 1px solid $light_grey;
    width: 100%;
    height: 75px;
    color: $grey;
    &:hover {
      color: $dark_grey;

      .actions{
        div {
          display: block;
        }
      }
    }

    > div {
      display: table-cell;
    }
  }

  .name {
    font-size: 0.8em;
    vertical-align: middle;

    * {
      vertical-align: middle;
    }

    a {
      font-size: 2.2em;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $blue_grey_dark;
        color: $blue_grey_dark;
      }
    }

    b {
      font-size: 2.2em;
      margin: 0 5px 0 20px;
    }
  }

  .actions {
    width: 420px;
    padding-top: 20px;
    position: relative;
  }
}

header.application {
  position: relative;
  border-bottom: 1px solid $grey;
  padding-bottom: 15px;
  margin-bottom: 20px;

  h1.breadcrumbs {
    display: inline-block;
    width: 900px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

a.button-add {
  text-decoration: none;
}
