@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';
@import 'panamax/extensions';

h1 + header {
  border-bottom: 1px solid $grey;
}

section.applications {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
  width: 100%;

  > div {
    display: table-row;
    border-bottom: 1px solid $light_grey;
    width: 100%;
    height: 75px;
    color: $dark_grey;

    > div {
      display: table-cell;
    }
  }
  .name, .info {
    vertical-align: middle;
  }

  .name {
    font-size: 0.8em;

    a {
      vertical-align: middle;
      font-size: 2.2em;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $blue_grey_dark;
        color: $blue_grey_dark;
      }
    }
  }

  .info {
    > a {
      margin: 0 8px 0 10px;
    }
    span {
      display: inline-block;
      margin-top: 3px;
    }
  }

  .actions {
    width: 420px;
    padding-top: 20px;
    position: relative;
  }
}

header.application {
  position: relative;
  border-bottom: 1px solid $grey;
  padding-bottom: 15px;
  margin-bottom: 20px;

  h1.breadcrumbs {
    display: inline-block;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    + .imagelayers-link {
      display: inline-block;
      float: none;
    }
  }
}

a.button-add-positive {
  margin-top: 10px;
}

.settings-container {
  width: 48px;
  height: 39px;
  position: relative;
  @include transition('background 0.2s ease 0.42s');

  &:before {
    @include icon-light-grey;
    @extend .icon-sprocket-large;
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 5px;
    width: 30px;
    height: 30px;
  }

  &:after {
    @include icon-light-grey;
    @extend .icon-thick-arrow-down;
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 5px;
  }

  &:hover {
    cursor: pointer;
  }

  &.expanded {
    background: $dark_grey;
    @include transition('background 0.001s ease');


    &:before {
      @include icon-white;
    }

    &:after {
      @include icon-white;
    }

    .settings-menu {
      max-height: 210px;
    }
  }

  .settings-menu {
    @extend .expandable;
    position: absolute;
    box-sizing: border-box;
    top: 39px;
    right: 0;
    width: 215px;
    background: $dark_grey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 100;

    li {
      padding: 0px 10px 5px 10px;
      margin-left: 0;

      &:first-child {
        padding-top: 5px;
      }
    }

    .template, .deploy, .delete, .reload, .export {
      background-color: transparent;

      &:hover {
        &:after {
          @include icon-white;
        }
      }

      &:after {
        @include icon-light-grey;
        left: 5px;
      }

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    .disabled {
      color: $white;
    }
  }
}


#gistConfirmationDialog {
  display: none;
}

.dialog-dialog {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: $white;

  &:focus {
    outline: none;
  }

  .ui-dialog-titlebar {
    display: none;
  }

  .ui-dialog-content {
    overflow: hidden;
    text-align: center;
    margin-top: 60px;

    h4 {
      color: white;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    li {
      display: inline-block;

      &:first-child {
        margin-right: 20px;
      }

      a.cancel-export {
        color: $white;
      }

      a.button-primary,
      a.cancel-export:hover {
        text-decoration: none;
      }
    }

  }
}
