@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';
@import 'panamax/extensions';

h1 + header {
  border-bottom: 1px solid $grey;
}

section.applications {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
  width: 100%;

  > div {
    display: table-row;
    border-bottom: 1px solid $light_grey;
    width: 100%;
    height: 75px;
    color: $grey;
    &:hover {
      color: $dark_grey;

      .actions{
        div {
          display: block;
        }
      }
    }

    > div {
      display: table-cell;
    }
  }

  .name {
    font-size: 0.8em;
    vertical-align: middle;

    * {
      vertical-align: middle;
    }

    a {
      font-size: 2.2em;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $blue_grey_dark;
        color: $blue_grey_dark;
      }
    }

    b {
      font-size: 2.2em;
      margin: 0 5px 0 20px;
    }
  }

  .actions {
    width: 420px;
    padding-top: 20px;
    position: relative;
  }
}

header.application {
  position: relative;
  border-bottom: 1px solid $grey;
  padding-bottom: 15px;
  margin-bottom: 20px;

  h1.breadcrumbs {
    display: inline-block;
    width: 900px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

a.button-add-positive {
  margin-top: 10px;
}

.settings-container {
  width: 48px;
  height: 39px;
  position: relative;
  @include transition('background 0.2s ease 0.42s');

  &:before {
    @include icon-light-grey;
    @extend .icon-sprocket-large;
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 5px;
    width: 30px;
    height: 30px;
  }

  &:after {
    @include icon-light-grey;
    @extend .icon-thick-arrow-down;
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 5px;
  }

  &:hover {
    cursor: pointer;
  }

  &.expanded {
    background: $dark_grey;
    @include transition('background 0.001s ease');


    &:before {
      @include icon-white;
    }

    &:after {
      @include icon-white;
    }

    .settings-menu {
      max-height: 80px;
    }
  }

  .settings-menu {
    @extend .expandable;
    position: absolute;
    box-sizing: border-box;
    top: 39px;
    right: 0;
    width: 140px;
    background: $dark_grey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 100;

    li {
      padding: 0px 10px 5px 10px;
      margin-left: 0;
    }

    .delete, .reload {
      background-color: transparent;

      &:after {
        left: 5px;
      }

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    .disabled {
      color: $white;
    }
  }
}
