@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

h1 + header {
  border-bottom: 1px solid $grey;
}

section.applications {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
  width: 100%;

  > div {
    display: table-row;
    border-bottom: 1px solid $light_grey;
    width: 100%;
    height: 75px;
    color: $grey;
    &:hover {
      color: $dark_grey;

      .actions{
        div {
          display: block;
        }
      }
    }

    > div {
      display: table-cell;
    }
  }

  .name {
    font-size: 0.8em;
    vertical-align: middle;

    * {
      vertical-align: middle;
    }

    a {
      font-size: 2.2em;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $sky_blue;
        color: $sky_blue;
      }
    }

    b {
      font-size: 2.2em;
      margin: 0 5px 0 20px;
    }
  }

  .actions {
    width: 100px;

    div {
      display: none;
      width: 100%;
      float: left;
      height: 40px;
      margin-top: 20px;
      border-left: 1px solid $grey;

      a {
        @include hide-text;
        width: 30px;
        margin: 5px 5px;
        height: 100%;
        position: relative;
        &:after {
          left: 5px;
          top: 5px;
          position: absolute;
          content: '';
        }
      }

      a.delete-action {
        &:after {
          @extend .icon-x-large;
          @include icon-light-grey;
        }

        &:hover:after {
          @include icon-red;
        }
      }

      a.view-action {
        &:after {
          @extend .icon-magnifying-glass-large;
          @include icon-light-grey;
        }

        &:hover:after {
          @include icon-grey;
        }
      }
    }
  }
}

header.application {
  position: relative;
  border-bottom: 1px solid $grey;
  padding-bottom: 15px;
  margin-bottom: 20px;

  h1.breadcrumbs {
    display: inline-block;
    width: 900px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

a.options {
  position: relative;
  top: 8px;
  display: inline-block;
  width: 56px;
  background: $light_grey;
  height: 38px;

  &:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    @extend .icon-sprocket-large;
    @include icon-grey;
    width: 20px;
    height: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 16px;
    display: block;
    @extend .icon-thick-arrow-down;
    @include icon-grey;
    width: 20px;
    height: 20px;
  }

  &:hover:before, &:hover:after {
    @include icon-blue;
  }

  + ul.menu {
    display: none;
    background-color: $light_grey;
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 15px;
    top: 46px;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $dark_grey;
        padding-left: 22px;
        text-decoration: none;

        &:hover {
          color: $dark_blue;
          text-decoration: underline;
        }
      }
      &.save a, &.restart a, &.delete a {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 2px;
          top: 5px;
          display: block;
          @include icon-grey;
          width: 10px;
          height: 10px;
        }

        &:hover:before {
          @include icon-blue;
        }
      }

      &.save a:before {
        top: 3px;
        @extend .icon-star;
      }

      &.restart a:before {
        @extend .icon-arrowloop;
      }

      &.delete {
        border-top: 1px solid $grey;
        padding-top: 6px;

        a:before {
          @extend .icon-x;
        }
      }
    }
  }
}

.add-button {
  margin-top: 20px;
  width: 230px;
  .button-positive {
    width: 100%;
    position: relative;
    padding-left: 30px;
    text-align: left;
    text-decoration: none;

    &:hover {
      padding-right: 30px;
    }

    &:after {
      @include icon-white;
      @extend .icon-plus;
      content: '';
      position: absolute;
      left: 11px;
      top: 15px;
      display: block;
      height: 10px;
      width: 10px;
    }
  }
}

.application-button-menu {
  float: right;

  li {
    display: block;
    float: left;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: $white;
      display: inline-block;
      position: relative;
      padding: 10px 10px 10px 25px;
      text-align: left;
      text-decoration: none;
      border-radius: 3px;

      &.template {
        background: $green;

        &:hover {
          background: $ctl_light_green;
        }

        &:after {
          @include icon-white;
          @extend .icon-star;
          content: '';
          position: absolute;
          left: 10px;
          top: 10px;
          display: block;
          height: 10px;
          width: 10px;
        }
      }

      &.reload {
        background: $dark_grey;

        &:hover {
          background: $medium_grey;
        }

        &:after {
          @include icon-white;
          @extend .icon-arrowloop;
          content: '';
          position: absolute;
          left: 10px;
          top: 11px;
          display: block;
          height: 10px;
          width: 10px;
        }
      }

      &.delete {
        background: $dark_red;

        &:hover {
          background: lighten($dark_red, 10%);
        }

        &:after {
          @include icon-white;
          @extend .icon-x;
          content: '';
          position: absolute;
          left: 10px;
          top: 11px;
          display: block;
          height: 10px;
          width: 10px;
        }
      }
    }
  }
}
