@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/buttons';

.button-add {
  @extend .button-primary;
  border: transparent 1px solid;
  background-color: transparent;
  color: $lime;
  position: relative;
  padding-left: 45px;
  padding-right: 20px;

  &:after {
    position: absolute;
    left: 20px;
    top: 13px;
    content: '';
    @extend .icon-plus;
    @include icon-light-green;
  }

  &:hover {
    background-color: transparent;
    @include box-shadow(0, 0, 0, 0);
    border: $lime 1px solid;
  }
}

.button-minor {
  @include border-radius(0.3em);
  min-width: 80px;
  border: 0;
  padding: 2px 10px;
  background-color: $grey;
  color: $dark_grey;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;


  &:hover {
    background-color: lighten( $dark_grey, 20% );
    transition: background-color 0.25s ease;
    color: $white;
  }

  &:focus {
    outline: none;
  }
}
a.button-minor {
  padding-top: 4px;
  padding-bottom: 4px;
}
