@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/buttons';
@import 'ctl_base_ui/mixins';

.button-add {
  @extend .button-primary;
  @include border-box;
  border: transparent 1px solid;
  background-color: transparent;
  color: $orange;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;

  &:after {
    position: absolute;
    left: 15px;
    top: 13px;
    content: '';
    @extend .icon-plus;
    @include icon-red;
  }

  &:hover {
    background-color: transparent;
    @include box-shadow(0, 0, 0, 0);
    border: $orange 1px solid;
  }
}

.button-minor {
  @include border-radius(0.3em);
  min-width: 80px;
  border: 0;
  padding: 2px 10px;
  background-color: $grey;
  color: $dark_grey;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;


  &:hover {
    background-color: lighten( $dark_grey, 20% );
    @include transition('background-color 0.25s ease');
    color: $white;
  }

  &:focus {
    outline: none;
  }
}
a.button-minor {
  padding-top: 4px;
  padding-bottom: 4px;
}

.button-dark-blue {
  @extend .button-primary;
  @include border-box;
  background-color: $dark_blue;
  color: $white;


  &:hover {
    background-color: darken( $dark_blue, 10% );
    @include transition('background-color 0.25s ease');
    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.button-cancel {
  @extend .button-secondary;
  @include border-box;
}
