@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

#dashboard {
  overflow: auto;

  section {
    @include border-box;
    float: left;
    width: 300px;
    min-height: 100px;
    margin-right: 15px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:nth-of-type(3n+4) {
      clear: both;
    }

    &:hover {
      header {
        background: $blue_grey;
      }

      dt, dd {
        color: $white;
      }

      dt {
        text-decoration: underline;
      }

      .count {
        color: $blue_grey;
        background-color: $white;
      }
    }

    a {
      color: darken($grey, 10%);
      text-decoration: none;

      &:hover  .title {
        border-bottom: 1px solid $white;
      }
    }

    header {
      @include border-box;
      height: 80px;
      background-color: $light_grey;
      border-radius: 3px;
      padding: 10px;

      .count {
        background: $grey;
        border-radius: 30px;
        width: 60px;
        height: 60px;
        float: left;
        color: $light_grey;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        line-height: 60px;
      }

      dl {
        border-left: 1px solid $grey;
        display: inline-block;
        padding: 8px 10px;
        margin: 5px 0 0 10px;

        dt {
          color: $dark_grey;
          font-size: 14px;
        }

        dd {
          font-style: italic;
          padding-top: 10px;
          font-size: 12px;
          font-weight: normal;
        }

      }
    }

    ul {
      float: left;
      width: 100%;
      margin-top: 10px;

      li {
        color: darken($grey, 10%);
        padding: 17px 5px;
        border-bottom: 1px solid $light_grey;

        &:last-of-type {
          border-bottom: none;
        }

        a:hover {
          color: $blue_grey_dark;
        }
      }

      li.more {
        font-style: italic;
      }
    }

    a.button {
      @include border-box;
      margin-top: 17px;
      border-radius: 3px;
      padding-left: 10px;
      padding-top: 15px;
      font-size: 0.9em;
      width: 100%;
      position: relative;
      height: 47px;
      display: block;
      color: $white;
      background-color: $dark_grey;
      text-decoration: none;

      &:hover {
        background-color: lighten($dark_grey, 10%);
      }

      &:before {
        content: '';
        position: absolute;
        right: 10px;
        top: 17px;
        display: block;
        @extend .icon-thick-arrow-right;
        @include icon-white;
        width: 10px;
        height: 10px;
      }
    }
  }
}
