@import 'ctl_base_ui/icons';
@import 'ctl_base_ui/variables';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/typography';
@import 'extensions';

#deployments_flow {

  h2.template-name {
    font-weight: normal;
    font-size: 2.2em;
  }

  h3.image-name {
    color: $blue_grey;
    margin: 0;
  }

  a.button-add-positive {
    margin-top: 30px;
    clear: both;
    @include transition('opacity 1.2s');
  }

  a.button-cancel {
    margin: 5px 0 0 10px;
  }

  .deployment-metadata {


    dl {
      margin: 0 0 10px 0;
      padding: 0 0 20px 0;
      border-bottom: 1px solid $grey;

      dt {
        color: $dark_grey;
        display: inline-block;

        &:after {
          content: ':'
        }
      }

      dd {
        color: lighten($blue_grey, 15%);
        display: inline-block;
        margin-right: 15px;
      }
    }
  }

  .deployment-settings {
    h3 {
      margin-bottom: 10px;
    }

    .button-positive {
      float: right;
    }

    .deployment-item {
      border-bottom: 1px solid $light_grey;
      padding-bottom: 30px;
      margin-bottom: 20px;

      .content {
        min-height: 320px;
      }

      .expand {
        padding-left: 20px;
        position: relative;
        cursor: pointer;

        &:before {
          @extend .icon-thick-arrow-right;
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 5px;
        }
      }

      .expanded:before {
        @extend .icon-thick-arrow-down;
      }

      .expand + .tab-container {
        @extend .expandable;
        min-height: 0;
      }

      .expanded + .tab-container {
        max-height: 850px;
        overflow-y: auto;
      }
    }

    .tab-container {
      .hide {
        display: none;
      }

      .cards {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
      }

      .card {
        overflow: auto;
      }

      .tab label[for='options'] {
        .icon {
          background-position: 0 -150px;

          &.changed {
            background-position: -21px -150px;
          }
        }
      }

      .content {
        padding: 20px;
      }
    }
    .card.options {
      .entries {
        padding: 20px;

        .variable-name {
          color: $blue_grey;
          font-size: 0.9em;
          display: inline-block;
          margin-right: 20px;
          width: 130px;
        }

        p {
          padding: 10px 0;
        }

        .variable-value {
          display: inline-block;
        }

        select {
          width: 90px;
        }

        input[type=radio] {
          display: none;
        }

        .disabled {
          color: $grey;
        }
      }
    }
  }
}

.deployment-target,
.deployment {
  margin-bottom: 15px;
  font-size: 0.9em;

  .name {
    @extend .title;
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
    width: 755px;

    &:after {
      @extend .icon-thick-arrow-right;
      content: '';
      display: block;
      position: absolute;
      left: -15px;
      top: 5px;
    }
  }

  .actions {
    position: relative;
    float: right;
    height: 20px;
    width: 165px;
    margin-top: 10px;

    .delete-action {
      @include hide-text;
      @extend .icon-x-large;
      @include icon-grey;
      padding: 0;
      float: right;

      &:after {
        display: none;
      }

      &:hover {
        @include icon-red;
      }
    }
  }

  dl {
    margin-left: 15px;
    clear: left;
    overflow: auto;
    padding-bottom: 15px;

    dt, dd {
      float: left;
    }
    dt {
      font-weight: bold;
      margin-right: 7px;
    }
    dd {
      font-style: italic;
      margin-right: 20px;
    }
  }


  &.expanded {
    .name:after {
      @extend .icon-thick-arrow-down;
    }
  }
}

.deployment {

  .services {
    @extend .expandable;
    overflow-y: auto;

    border-top: $light_grey 1px solid;
    padding-left: 15px;

    li {
      padding: 20px 0;
      border-bottom: $light_grey 1px solid;
    }
  }

  &.expanded {
    .services {
      max-height: 280px;
    }
  }
}


.deployment-target {
  .token {
    @extend .expandable;
    padding: 0;
    border-top: $light_grey 1px solid;

    .token-contents {
      width: 605px;
      clear: left;
      margin-top: 8px;
      font-family: $monospace_font_family;
      font-style: normal;
      word-wrap: break-word;
      padding: 20px;
      border: $medium_grey 1px solid;
      background: $light_grey;
    }
  }

  &.expanded {
    .token {
      max-height: 500px;
      padding: 15px 0;
    }
  }
}

#create_target {
  @extend .expandable;

  input[type="text"],
  textarea {
    width: 560px;
  }

  textarea {
    font-family: $monospace_font_family;
    height: 480px;
  }

  dt {
    margin: 15px 0 5px;
    color: $medium_grey;
  }

  button {
    margin-top: 5px;
    float: left;
  }

  &.expanded {
    max-height: 660px;

    &+ a.button-add-positive {
      @include transition('opacity 1.2s');
      opacity: 0;
    }
  }
}

.select-remote-target {
  ul {
    list-style-type: none;

    li {
      padding: 20px 10px;
      border-bottom: 1px solid $grey;
      overflow: auto;

      dl {
        float: left;
        width: 50%;

        dt {
          color: $blue_grey;
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 1.1em;
        }
      }

      a.button-positive {
        text-decoration: none;
        float: right;
      }
    }
  }

  .button-add-positive {
    margin-top: 10px;
  }
}

