@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/icons';

#images_flow {
  h1 {
    margin-bottom: 0;
  }
}

ul.images li {
  border-bottom: $light_grey 1px solid;
  overflow: auto;
  padding-bottom: 22px;

  h3 {
    margin: 00;
    padding: 22px 0 0 0;
  }

  h6 {
    margin: 5px 0 0;
  }

  dl {
    font-size: 0.9em;
    width: 90%;
    float: left;
    overflow: auto;

    dt, dd {
      margin-top: 8px;
      line-height: 1.2em;
    }

    dt {
      font-weight: bold;
      width: 10%;
      float: left;
    }

    dd {
      width: 90%;
      float: right;
    }
  }
  .actions {
    text-align: right;
    float: right;

    .delete-action {
      margin-top: -5px;
      float: right;
      height: 20px;

      &:after {
        top: 0;
        left: 0;
        @extend .icon-x-large;
        @include icon-light-grey;
      }

      &:hover:after {
        @include icon-red;
      }
    }
  }
}
