@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/icons';
@import 'ctl_base_ui/mixins';

#images_flow {
  h1 {
    margin-bottom: 0;
  }

  .select-all {
    margin-top: 30px;
    float: right;
    height: 36px;
    width: 110px;

    .label {
      float: left;
      color: $grey;
      padding: 5px 5px;
    }

    .styled-check {
      float: left;
    }
  }

  .submit-button {
    margin-top: 20px;
    width: 165px;
    position: relative;
    padding-left: 25px;
    text-align: left;
    text-decoration: none;
    float: right;

    &::after {
      @include icon-white;
      @extend .icon-x;
      content: '';
      position: absolute;
      left: 9px;
      top: 14px;
      display: block;
      height: 10px;
      width: 10px;
    }
    &:disabled {
      background-color: $grey;

      &:hover {
        @include box-shadow(0, 0, 0, 0);
        border: none;
        cursor: default;
      }

      &:after {
        @include icon-light-grey;
      }
    }
  }
}

.imagelayers-link {
  background: image-url('icon_image_layers.svg') -10px -17px no-repeat;
  background-size: 40px 60px;
  float: left;
  width: 20px;
  height: 20px;
  @include hide-text;

  &:hover {
    background-position: -10px 3px;
  }
}
.imagelayers-link-with-text {
  position: relative;
  padding-left: 26px;
  &:after {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: image-url('icon_image_layers.svg') 0 -19px no-repeat;
    background-size: 20px 60px;
  }

  &:hover:after {
    background-position: 0 1px;
  }
}

ul.images {
  clear: both;
  li {
    border-bottom: $light_grey 1px solid;
    overflow: auto;
    padding-bottom: 22px;
    padding-top: 22px;
  }

  h3 {
    margin: 0 0 0 25px;
    padding: 0;
  }

  h6 {
    margin: 5px 0 0;
  }

  dl {
    font-size: 0.9em;
    width: 90%;
    float: left;
    overflow: auto;

    dt, dd {
      margin-top: 8px;
      line-height: 1.2em;
    }

    dt {
      font-weight: bold;
      width: 10%;
      float: left;
    }

    dd {
      width: 90%;
      float: right;

      .delete-action {
        margin-top: -5px;
        float: right;
        height: 20px;

        &:after {
          top: 0;
          left: 0;
          @extend .icon-x-large;
          @include icon-light-grey;
        }

        &:hover:after {
          @include icon-red;
        }
      }
    }
  }
  .actions {
    text-align: right;
    float: right;
    box-sizing: border-box;
    width: 40px;
  }
}
