@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

.panel {
  border-top: 10px solid $grey;
  margin: 12px 12px 12px 0;
  padding: 10px;
  font-size: 0.9em;

  &:hover {
    border-top-color: $sky_blue;
    background-color: $light_grey;
    header {
      color: $sky_blue;
    }
  }

  header {
    border-bottom: 1px solid $grey;
    color: $dark_blue;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 10px;
  }
}

section.notice {
  margin-bottom: 20px;

  #post-run-html {
    display: none;
  }
}

.ui-dialog #post-run-html {
  margin: 20px;
}

.service-detail {
  float: left;
  font-size: 13px;

  & + & {
    margin-left: 20px;
  }

  header {
    @include border-radius(3px);
    background: $sky_blue;
    color: $white;
    font-weight: normal;
    padding: 13px 15px;
  }

  ul li {
    line-height: 42px;
  }
}

section.deployment-details {
  margin-bottom: 10px;
  font-size: 0.8em;

  span.deployment-env, span.service-url {
    display: inline-block;
    height: 20px;
    padding-right: 15px;
    line-height: 20px;

    &:not(:first-child) {
      padding-left: 15px;
      border-left: 2px solid $grey;
    }

    a {
      margin-left: 5px;
    }
  }
}

section.application-services {
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;

  header {
    border-bottom: 1px solid $grey;
    line-height: 30px;
    margin-bottom: 19px;
  }

  h3 {
    @include border-box;
    width: 880px;
    display: inline-block;
    margin-bottom: 4px;
  }

  nav {
    @include border-box;
    display: inline-block;

    a {
      @include border-radius(4px);
      vertical-align: top;
      position: relative;
      display: inline-block;
      width: 31px;
      background: none;
      height: 31px;
    }

    a.list {
      &.selected {
        background: $grey;
      }

      &.selected:before {
        @extend .icon-list-large;
        @include icon-grey;
      }

      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @extend .icon-list-large;
        @include icon-light-grey;
        width: 20px;
        height: 20px;
      }
    }


    a.relationship {
      &.selected {
        background: $grey;
      }

      &.selected:before {
        @include icon-grey;
      }

      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @include icon-light-grey;
        @extend .icon-link-large;
        width: 20px;
        height: 20px;
      }
    }
  }

  .relationships {
    float: right;
    width: 50%;
    .relationship-panel {
      @extend .service-detail;
      width: 263px;
      float: left;

      ul.links {
        margin-left: 20px;
        padding-left: 40px;
        position: relative;
        border: 0;

        &:before {
          z-index: -1;
          position: absolute;
          content: '';
          border: $sky_blue 1px solid;
          border-width: 0 0 1px 1px;
          height: 50px;
          width: 20px;
          top: -27px;
          left: 0;
        }
      }
    }
  }
  .views {
    position: relative;
    right: 100%;
    width: 200%;

    .categories {
      float: right;
      width: 50%;

      .category-panel {
        @extend .panel;
        width: 292px;
        float: left;

        &:nth-child(3n+0) {
          margin-right: 0;
        }

        &:nth-child(3n+4) {
          clear: both;
        }

        &.new {
          button {
            height: 45px;
            min-width: 45px;
            position: relative;
            margin: 3px 0 15px 109px;
            &:after {
              @include icon-white;
              @extend .icon-plus-large;
              content: '';
              position: absolute;
              left: 13px;
              top: 13px;
              display: block;
              height: 20px;
              width: 20px;
            }
          }
        }

        &:hover {
          ul.services {
            li {
              &:hover {
                background-color: $white;
                color: $dark_blue;
                > a {
                  width: 168px;
                }
                .actions {
                  display: inline-block;
                }
                .service-icon:before {
                  @include icon-light-blue;
                }
              }
            }
            .service-icon {
              background-color: $white;
            }
          }
        }

        a.button-positive {
          @include border-box;
          width: 100%;
          position: relative;
          padding-left: 30px;
          text-align: left;
          text-decoration: none;
          &:after {
            @include icon-white;
            @extend .icon-plus;
            content: '';
            position: absolute;
            left: 10px;
            top: 13px;
            display: block;
            height: 10px;
            width: 10px;
          }
        }

        ul.services {
          padding-bottom: 6px;
          border-bottom: 1px solid $grey;
          margin-bottom: 19px;

          li {
            position: relative;
            margin-bottom: 10px;
            height: 40px;
            border-radius: 4px;
            position: relative;

            > a {
              display: inline-block;
              margin-left: 4px;
              padding-left: 2px;
              position: absolute;
              top: 14px;
              width: 210px;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 16px;
              white-space: nowrap;
              text-decoration: none;

              &.status-stopped {
                font-style: italic;
                color: $lipstick_red;
              }

              &.status-loading {
                font-style: italic;
                color: $medium_grey;
              }
            }

            .actions {
              display: none;
              float: right;
              height: 40px;
              padding-right: 5px;
            }

            .service-icon {
              display: inline-block;
              float: left;
              background-color: $light_grey;
              width: 40px;
              height: 40px;
              margin-right: 6px;
              border-radius: 4px;
              img {
                margin: 10px 0 0 10px;
              }
            }
          }
        }
      }
    }

    .relationships {
      float: right;
      width: 50%;
      .relationship-panel {
        @extend .service-detail;
        width: 263px;
        float: left;

        ul.links {
          margin-left: 20px;
          padding-left: 40px;
          position: relative;
          border: 0;

          &:before {
            z-index: -1;
            position: absolute;
            content: '';
            border: $sky_blue 1px solid;
            border-width: 0 0 1px 1px;
            height: 50px;
            width: 20px;
            top: -27px;
            left: 0;
          }
        }
      }
    }
  }
}
