@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

.panel {
  border-top: 10px solid $grey;
  margin: 10px 10px 10px 0;
  padding: 10px;
  font-size: 0.9em;

  &:hover {
    border-top-color: $sky_blue;
    background-color: $light_grey;
    header {
      color: $sky_blue;
    }
  }

  header {
    border-bottom: 1px solid $grey;
    color: $dark_blue;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 10px;
  }
}

section.application-services {
  header {
    border-bottom: 1px solid $grey;
    line-height: 30px;
    margin-bottom: 19px;
  }

  h3 {
    @include border-box;
    width: 880px;
    display: inline-block;
    margin-bottom: 4px;
  }

  nav {
    @include border-box;
    display: inline-block;

    a {
      @include border-radius(4px);
      vertical-align: top;
      position: relative;
      display: inline-block;
      width: 31px;
      background: none;
      height: 31px;
    }

    a.list {
      &.selected {
        background: $grey;
      }

      &.selected:before {
        @extend .icon-list-large;
        @include icon-grey;
      }

      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @extend .icon-list-large;
        @include icon-light-grey;
        width: 20px;
        height: 20px;
      }
    }

    a.link {
      &.selected {
        background: $grey;
      }

      &.selected:before {
        @include icon-grey;
      }

      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @include icon-light-grey;
        width: 20px;
        height: 20px;
      }
    }
  }

  .category-panel {
    @extend .panel;
    width: 263px;
    float: left;

    &:hover {
      ul.services {
        li {
          &:hover {
            background-color: $white;
            color: $dark_blue;
            .actions {
              display: inline-block;
            }
            span {
              width: 177px;
            }
          }

          .service-icon {
            background-color: $white;
          }
        }
      }
    }

    .button-positive {
      width: 100%;
      position: relative;
      padding-left: 30px;
      text-align: left;
      &:after {
        @include icon-white;
        @extend .icon-plus;
        content: '';
        position: absolute;
        left: 11px;
        top: 19px;
        display: block;
        height: 10px;
        width: 10px;
      }
    }

    ul.services {
      padding-bottom: 6px;
      border-bottom: 1px solid $grey;
      margin-bottom: 19px;

      li {
        margin-bottom: 10px;
        line-height: 20px;
        height: 41px;
        border-radius: 4px;

        span {
          display: inline-block;
          position: relative;
          line-height: 41px;
          width: 210px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .service-icon {
          display: inline-block;
          position: relative;
          background-color: $light_grey;
          width: 41px;
          height: 41px;
          margin-right: 6px;
          border-radius: 4px;

          &:before {
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
            display: block;
            @include icon-white;
            width: 31px;
            height: 31px;
          }
        }

        .actions {
          position: relative;
          vertical-align: top;
          display: none;

          .delete {
            width: 20px;
            height: 31px;
            line-height: 41px;
            display: inline-block;

            &:before {
              @extend .icon-x;
              @include icon-grey;
              position: absolute;
              content: '';
              left: 10px;
              bottom: 10px;
              display: block;
            }

            &:hover:before {
              @include icon-red;
            }
          }
        }
      }
    }
  }
}