@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

.panel {
  border-top: 10px solid $grey;
  margin: 10px 10px 10px 0;
  padding: 10px;
  font-size: 0.9em;

  &:hover {
    border-top-color: $sky_blue;
    background-color: $light_grey;
    header {
      color: $sky_blue;
    }
  }

  header {
    border-bottom: 1px solid $grey;
    color: $dark_blue;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 10px;
  }
}

section.notice {
  .post-run-html {
    display: none;
  }
}

section.deployment-details {
  margin-bottom: 10px;
  font-size: 0.8em;

  span.deployment-env, span.service-url {
    display: inline-block;
    height: 20px;
    padding-right: 15px;
    line-height: 20px;

    &:not(:first-child) {
      padding-left: 15px;
      border-left: 2px solid $grey;
    }

    a {
      margin-left: 5px;
    }
  }
}

section.application-services {
  header {
    border-bottom: 1px solid $grey;
    line-height: 30px;
    margin-bottom: 19px;
  }

  h3 {
    @include border-box;
    width: 880px;
    display: inline-block;
    margin-bottom: 4px;
  }

  nav {
    @include border-box;
    display: inline-block;

    a {
      @include border-radius(4px);
      vertical-align: top;
      position: relative;
      display: inline-block;
      width: 31px;
      background: none;
      height: 31px;
    }

    a.list {
      &.selected {
        background: $grey;
      }

      &.selected:before {
        @extend .icon-list-large;
        @include icon-grey;
      }

      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @extend .icon-list-large;
        @include icon-light-grey;
        width: 20px;
        height: 20px;
      }
    }

    a.link {
      &.selected {
        background: $grey;
      }

      &.selected:before {
        @include icon-grey;
      }

      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @include icon-light-grey;
        @extend .icon-link-large;
        width: 20px;
        height: 20px;
      }
    }
  }

  .category-panel {
    @extend .panel;
    width: 263px;
    float: left;

    &:hover {
      ul.services {
        li {
          &:hover {
            background-color: $white;
            color: $dark_blue;
            > a {
              width: 168px;
            }
            .actions {
              display: inline-block;
            }
            .service-icon:before {
              @include icon-light-blue;
            }
          }
        }
        .service-icon {
          background-color: $white;
        }
      }
    }

    a.button-positive {
      @include border-box;
      width: 100%;
      position: relative;
      padding-left: 30px;
      text-align: left;
      text-decoration: none;
      &:after {
        @include icon-white;
        @extend .icon-plus;
        content: '';
        position: absolute;
        left: 11px;
        top: 19px;
        display: block;
        height: 10px;
        width: 10px;
      }
    }

    ul.services {
      padding-bottom: 6px;
      border-bottom: 1px solid $grey;
      margin-bottom: 19px;

      li {
        position: relative;
        margin-bottom: 10px;
        height: 40px;
        border-radius: 4px;
        position: relative;

        > a {
          display: inline-block;
          margin-left: 4px;
          padding-left: 2px;
          position: absolute;
          top: 14px;
          width: 210px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 16px;
          white-space: nowrap;
          text-decoration: none;

          &.status-stopped {
            font-style: italic;
            color: $lipstick_red;
          }

          &.status-loading {
            font-style: italic;
            color: $medium_grey;
          }
        }

        .actions {
          display: none;
          float: right;
          height: 40px;
          padding-right: 5px;
        }

        .service-icon {
          display: inline-block;
          float: left;
          background-color: $light_grey;
          width: 40px;
          height: 40px;
          margin-right: 6px;
          border-radius: 4px;
          img {
            margin: 10px 0 0 10px;
          }
        }
      }
    }
  }
}

// Add Service Form in modal window
#manage_flow .ui-dialog {
  input#search_form_query {
    width: 600px;
  }

  .filterable-list {
    .basic-info {
      width: 335px;
    }
  }
}

.archetype {
  display: none;
}
