@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

#registries_flow {
  h1.breadcrumbs {
    margin-bottom: 0;
  }
}

.registries {
  ul {
    margin-bottom: 25px;

    li {
      font-size: 14px;
      padding: 25px 0;
      border-bottom: $light_grey 1px solid;
      overflow: auto;

      .name,
      .endpoint,
      .edit-registry {
        float: left;
      }

      span.name {
        width: 380px;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
      }

      .endpoint {
        font-style: italic;
        margin-top: 2px;
        width: 390px;

        strong {
          font-style: normal;
        }
      }

      .actions {
        position: relative;
        width: 165px;
        float: right;

        .delete-action {
          @include hide-text;
          @extend .icon-x-large;
          @include icon-grey;
          padding: 0;
          float: right;

          &:after {
            display: none;
          }

          &:hover {
            @include icon-red;
          }
        }
        .confirm-delete {
          font-size: 14px;
          span {
            margin-top: 3px;
          }
        }
      }
    }
  }

  form.create-registry {
    display: none;
    margin-bottom: 30px;
    #registry_name,
    #registry_endpoint_url {
      width: 350px;
    }
  }
}
