@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/icons';
@import 'panamax/buttons';

.service-details {
  padding-bottom: 20px;
}

.service-status {
  float: right;
  padding-left: 25px;
  font-style: italic;
  font-size: 0.8em;
  color: $medium_grey;
  white-space: nowrap;
  height: 20px;
  line-height: 22px;
  background-repeat: no-repeat;
  background-position: left center;

  em {
    text-decoration: underline;
    cursor: help;
  }

  &.stopped {
    background-image: image-url('icon_status_stopped.png');
  }

  &.running {
    background-image: image-url('icon_status_running.png');

    em {
      display: none;
    }
  }

  &.loading {
    background-image: image-url('icon_loading_green.gif');
  }
}

.restart-action {
  float: right;
  margin-left: 10px;
  @extend .button-minor;
}

.service-attributes {
  clear: both;
  padding-top: 10px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .column-left,
  .column-right {
    width: 48%;

    > div:last-child {
      margin-bottom: 0;
    }
  }

  .column-left {
    float: left;
  }

  .column-right {
    float: right;
  }
}


.base-image-detail {
  * {
    display: inline-block;
  }
  h6 {
    color: $dark_grey;
    font-weight: bold;
  }
  span {
    margin-right: 6px;
  }
  a {
    padding-left: 10px;
    border-left: 1px solid $dark_grey;
  }
}

.service-detail {
  width: 100%;
  margin-bottom: 40px;
  font-size: 13px;

  > dl {
    border-bottom: 1px solid $light_grey;
  }

  h3 {
    @include border-radius(3px);
    background: $blue_grey;
    color: $white;
    font-weight: normal;
    padding: 13px 15px;
  }

  ul li,
  dl dt,
  dl dd {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  ul li {
    border-bottom: $light_grey 1px solid;
  }

  ul li:hover .actions,
  dl dt:hover + dd + .actions,
  dl dd:hover + .actions,
  dl dd.actions:hover {
    > * {
      visibility: visible;
    }
  }

  dl {
    overflow: auto;

    dt,
    dd {
      @include border-box;
      float: left;
      padding-left: 0;

      input[type='text'] {
        @include border-box;
      }
    }

    dt {
      font-weight: bold;
    }
  }

  a.cancel {
    text-decoration: underline;
  }

  .actions {
    float: right;
    width: 20px;
    > * {
      visibility: hidden;
    }
    a.delete-action:after {
      top: 0;
    }
  }
}

.volumes {
  @extend .service-detail;

  input[type='text'] {
    width: 180px;
  }
}

.port-detail {
  @extend .service-detail;

  .port-detail-forms {
    overflow: hidden;
  }

  .port-bindings {
    float: left;
    width: 65%;

    select {
      width: 80px;
    }

    .chosen-container {
      top: -1px;
      li {
        border-bottom: 0;
      }
      .chosen-single span {
        margin-right: 20px;
      }
    }

    input[type='number'] {
      @include border-box;
      width: 23%;
      padding-right: 0px;
    }

  }

  .exposed-ports {
    width: 32%;
    float: right;

    input[type='number'] {
      @include border-box;
      width: 68px;
    }
  }

  h4 {
    color: #000;
    font-weight: bold;
    font-size: 1em;
    margin: 10px 0 0;
  }

  .optional {
    color: $medium_grey;
    font-style: italic;
    margin-top: 3px;
  }
}

.docker-run-command {
  @extend .service-detail;

  input[type='text'] {
    @include border-box;
    width: 100%;
  }
}

.environment-variables {
  @extend .service-detail;

  dl {
    dt, dd {
      &.editing {
        padding: 5px 0;
        width: 90%;
      }

      input[type="text"] {
        width: 100%;
      }
    }

    dt {
      width: 100%;
      padding-bottom: 0;

      &.editing {
        padding: 10px 0 0;
        input[type='text'] {
          font-weight: bold;
        }
      }
    }
    dd {
      width: 90%;
      padding-left: 5%;

      &.actions {
        padding-left: 0;
        width: 5%;
      }
    }

    a.cancel {
      text-decoration: underline;
      display: inline-block;
      margin: 46px 0 0 6px;
    }
  }
}

.service-links {
  @extend .service-detail;

  > ul > li {
    margin-left: 20px;
    padding-left: 40px;
    position: relative;
    border: 0;

    span[title] {
      cursor: help;

      &:hover {
        background: $yellow;
      }
    }

    &:before {
      z-index: -1;
      position: absolute;
      content: '';
      border: $blue_grey 1px solid;
      border-width: 0 0 1px 1px;
      height: 60px;
      width: 20px;
      top: -37px;
      left: 0;
    }

    &.editing {
      padding: 10px 0 0;
      margin: 0 0 20px 0;
      border-top: 1px solid $light_grey;

      &:before {
        display: none;
      }

      select,
      input[type='text'] {
        @include border-box;
        width: 200px;
      }

      input[type='text'] {
        position: relative;
        top: 1px;
      }
    }

    &:hover .remove-link {
      visibility: visible;
    }

    .remove-link {
      visibility: hidden;
      @include hide-text;
      @include border-radius(11px);
      position: absolute;
      left: -11px;
      top: 13px;
      width: 22px;
      height: 22px;
      display: block;
      background-color: $blue_grey;

      &:hover {
        background-color: $dark_red;
      }

      &:before {
        position: absolute;
        left: 6px;
        top: 6px;
        content: '';
        @extend .icon-x;
        @include icon-white;
      }

    }
  }
}

.additional-entries {
  dl:first-child,
  li:first-child {
    display: none;
  }
}

form.service-edit-form {
  margin-bottom: 70px;

  input[type="submit"] {
    float: right;
  }
  .button-primary[disabled]:hover {
    background-color: $light_grey;
  }
}
.journal {

  margin-bottom: 30px;

  header {
    border-bottom: $grey 1px solid;
    margin-bottom: 15px;
    overflow: hidden;

    h3 {
      float: left;
      margin-bottom: 0;
    }

    .journal-toggle {
      float: right;
    }
  }
}

a.journal-toggle {
  display: inline-block;
  @extend .button-minor;
}

.journal-output {
  @include border-box;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  background-color: darken($dark_grey, 30%);
  color: $grey;
  display: block;
  padding: 10px 0;
  white-space: nowrap;
  overflow: scroll;

  p {
    font-size: 14px;
    line-height: 16px;
    padding: 0 0 0 10px;

    .timestamp, .source {
      display: inline-block;
      color: $medium_grey;
    }

    &:last-of-type {
      background-color: $blue_grey;
      color: white;
      padding: 2px 0 2px 10px;

      .timestamp, .source {
        color: white;
      }
    }
  }
}

.journal-output.truncated {
  height: 118px;
  overflow: hidden;

  p {
    padding: 2px 0 2px 10px;

    .timestamp, .source {
      color: $dark_grey;
    }

    &:nth-last-of-type(5) {
      margin-top: 10px;
    }

    &:last-of-type {
      .timestamp, .source {
        color: white;
      }
    }
  }
}

input.empty {
  border: $orange 2px solid;
}
