@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/icons';

.service-detail {
  float: left;
  font-size: 13px;

  & + & {
    margin-left: 20px;
  }

  h3 {
    @include border-radius(3px);
    background: $sky_blue;
    color: $white;
    font-weight: normal;
    padding: 13px 15px;
  }

  ul li,
  dl dt,
  dl dd {
    line-height: 42px;
    border-bottom: $light_grey 1px solid;

  }

  ul li:hover .actions,
  dl dt:hover + dd + .actions,
  dl dd:hover + .actions,
  dl dd.actions:hover {
    > * {
      visibility: visible;
    }
  }

  dl {
    overflow: auto;

    dt,
    dd {
      @include border-box;
      float: left;
      padding-left: 0;

      input[type='text'] {
        @include border-box;
      }
    }

    dt {
      font-weight: bold;
    }
  }

  .actions {
    float: right;
    width: 20px;
    > * {
      visibility: hidden;
    }
  }
}

.port-detail {
  @extend .service-detail;
  width: 140px;
}

.environment-variables {
  @extend .service-detail;
  width: 470px;

  dl dt {
    width: 220px;

    input[type='text'] {
      font-weight: bold;
      width: 210px;
    }
  }
  dl dd {
    width: 230px;

    &.actions {
      width: 20px;
    }

    &.editing {
      width: 250px;

      input[type='text'] {
        width: 200px;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

.service-links {
  @extend .service-detail;
  width: 310px;

  ul li {
    margin-left: 20px;
    padding-left: 40px;
    position: relative;
    border: 0;

    &:before {
      z-index: -1;
      position: absolute;
      content: '';
      border: $sky_blue 1px solid;
      border-width: 0 0 1px 1px;
      height: 50px;
      width: 20px;
      top: -27px;
      left: 0;
    }

    &:hover .remove-link {
      visibility: visible;
    }

    .remove-link {
      visibility: hidden;
      @include hide-text;
      @include border-radius(11px);
      position: absolute;
      left: -11px;
      top: 13px;
      width: 22px;
      height: 22px;
      display: block;
      background-color: $sky_blue;

      &:hover {
        background-color: $dark_red;
      }

      &:before {
        position: absolute;
        left: 6px;
        top: 6px;
        content: '';
        @extend .icon-x;
        @include icon-white;
      }

    }
  }
}


