@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

body#template_repo_flow {
  min-width: 960px;
}

section.template_repos {
  ul {
    margin-bottom: 30px;

    li {
      overflow: hidden;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .repo-info {
        float: left;
        width: 775px;

        a {
          display: block;
          width: 100%;
          margin-bottom: 12px;
          font-size: 1.2em;
          font-weight: bold;
          color: $blue_grey;
          text-decoration: none;
          word-wrap: break-word;

          &:hover {
            color: $blue_grey_dark;
            text-decoration: underline;
          }
        }

        span {
          display: inline-block;
          font-size: .8em;

          label:hover {
            cursor: auto;
          }

          &.count {
            color: $dark_grey;
            margin-right: 20px;
            font-weight: bold;
          }

          &.updated {
            color: $medium_grey;
            font-style: italic;
          }
        }
      }

      .template-repo-button-menu {
        float: right;
        width: 175px;
      }

      .delete-action {
        @include hide-text;
        @extend .icon-x-large;
        @include icon-grey;
        margin: 8px 0 0 12px;
        padding: 0;

        &:hover {
          @include icon-red;
        }
      }
    }
  }

  .button-add {
    background-color: $orange;
    color: white;
    &:after {
      @include icon-white;
    }

    &:hover {
      @include box-shadow(0, 0, 5px, rgba( $orange, 0.6 ));
      background-color: darken( $orange, 5% );
    }
  }

  form.new_template_repo {
    position: relative;
    display: none;
    margin-bottom: 15px;

    label {
      font-weight: bold;

      &:after {
        content: 'https://github.com/';
        position: absolute;
        top: 15px;
        left: 115px;
        z-index: 1;
        display: block;
        height: 15px;
        width: 117px;
        font-family: "Lucida Grande", sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #aaaaaa;
      }
    }

    input[type="text"] {
      width: 690px;
      margin: 0 10px 0 5px;
      padding-left: 140px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

