@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/typography';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';
@import 'extensions';

body#template_repo_flow {
  min-width: 960px;
}

section.template-repos {
  ul {
    margin-bottom: 30px;

    li {
      overflow: hidden;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 25px;
      border-bottom: 1px solid #efefef;

      &:last-child {
        margin-bottom: 0;
      }

      .confirm-delete {
        top: 0px;
        right: 0px;
        left: auto !important;
        width: 210px;
      }

      .repo-info {
        float: left;
        width: 775px;

        a {
          @extend .title;
          display: block;
          width: 100%;
          margin-bottom: 12px;
          text-decoration: none;
          word-wrap: break-word;

          &:hover {
            color: $blue_grey_dark;
            text-decoration: underline;
          }
        }

        span {
          display: inline-block;
          font-size: .8em;

          label:hover {
            cursor: auto;
          }

          &.count {
            color: $dark_grey;
            margin-right: 20px;
            font-weight: bold;
          }

          &.updated {
            color: $medium_grey;
            font-style: italic;
          }
        }
      }

      .actions {
        float: right;
        width: 175px;
        margin-top: 9px;

        .reload {
          font-size: 14px;
          color: $white;
          display: inline-block;
          position: relative;
          padding: 10px 10px 10px 25px;
          text-align: left;
          text-decoration: none;
          border-radius: 3px;
          background: $dark_grey;

          &:hover {
            background: $medium_grey;
          }

          &:after {
            @include icon-white;
            @extend .icon-arrowloop;
            content: '';
            position: absolute;
            left: 10px;
            top: 12px;
            display: block;
            height: 10px;
            width: 10px;
          }
        }

        .delete-action {
          @include hide-text;
          @extend .icon-x-large;
          @include icon-grey;
          margin: 8px 0 0 12px;
          padding: 0;
          float: right;

          &:after {
            display: none;
          }

          &:hover {
            @include icon-red;
          }
        }
      }
    }
  }

  form.new_template_repo {
    @extend .expandable;
    position: relative;
    margin-bottom: 15px;

    label {
      font-weight: bold;

      &:after {
        content: 'https://github.com/';
        position: absolute;
        top: 15px;
        left: 115px;
        z-index: 1;
        display: block;
        height: 15px;
        width: 117px;
        font-family: "Lucida Grande", sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #aaaaaa;
      }
    }

    input[type="text"] {
      width: 635px;
      margin: 0 10px 0 5px;
      padding-left: 140px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
  .button-add {
    @include transition('opacity 0.6s');
  }

  &.expanded {
    form.new_template_repo {
      height: 50px;
    }

    .button-add {
      @include transition('opacity 0.6s');
      opacity: 0;
    }
  }
}

