- content_for(:body_id, 'manage_flow')

%header
  = render '/shared/breadcrumbs', breadcrumbs: ["Manage",  "Dashboard"]

#dashboard
  - @resources.each do |resource, value|
    %section
      %a{href: value[:manage_path]}
        %header
          %span.count
            = value[:count]
          %dl
            %dt= value[:title].pluralize(value[:count])
            %dd= value[:message]
