%p.microcopy
  %strong Examples:
  Wordpress,
  =link_to '!=namespace/private-repo', 'https://github.com/CenturyLinkLabs/panamax-ui/wiki/How-to:-Add-Registries#running-an-image-from-a-private-repository', target: '_blank', title: 'Learn about search filters.'
  =','
  =link_to '!=your_registry_endpoint/your-repo', 'https://github.com/CenturyLinkLabs/panamax-ui/wiki/How-to:-Add-Registries#running-an-image-from-a-private-repository', target: '_blank', title: 'Learn about search filters.'
  =','
  Rails, redis, NGiNX, you get the picture...
