.search-result-item
  .badge= presenter.status_label
  .basic-info
    %h3
      %a= presenter.title
    %p= presenter.description
  .actions
    = button_to "Run Image", "#todo", class: "button-positive"
