.search-result-item
  .basic-info
    %h3
      %a= presenter.name
    %p= presenter.description
    %p.microcopy Last Updated: 03/16/2014
  .actions
    = button_to "Run Image", "#todo", class: "button-positive"
