.search-result-item.image-result
  .badge= presenter.status_label
  .basic-info
    %h3
      %a= presenter.title
    %p= presenter.short_description
  .actions
    %button.button-positive Run Image
  .community-data
    .star-count= presenter.star_count
