.search-result-item.no-results
  .badge
  .basic-info
    %p
      %strong We’re sorry, but we couldn’t find any templates matching your search criteria.
      %br/
      Try looking at some of the images below.
