.search-result-item.no-results
  .badge
  .basic-info
    %p
      %strong We're sorry, we couldn't find a template that was a good match.
      %br/
      Please select an appropriate base image from the results below, or try a new search.
