- unless TemplateRepo.has_user_sources?
  .search-result-item.source-repo-blurb
    .badge
    .basic-info
      %p
        %strong Did you know you can create your own custom templates to use within Panamax?
    .link-actions
      = link_to 'Learn more', 'https://github.com/CenturyLinkLabs/panamax-ui/wiki/How-To:-Make-a-Template', target: '_blank'
