= form_for :search, method: :get do |f|
  = f.label :query, 'Command'
  = f.text_field :query, placeholder: 'enter your command / query'

%p
  %strong
    Examples: 
  wordpress, apache, rails, ubuntu, java
