%ul.application-button-menu
  %li
    = link_to 'Save as Template', new_template_path, class: 'template', title: 'save template'
  %li
    = link_to 'Rebuild App', '#', class: 'reload', title: 'reload'
  %li
    = link_to 'Delete App', application_path(app.id), method: :delete, class: 'delete', title: 'delete'
