%li
  .service-icon
    %img{src: icon}
  %span{class: "status-#{status}"}
    = name
  .actions
    = link_to 'edit',
               application_service_path(app_id, service_id),
               class: 'edit-action',
               title: 'details'
    = link_to 'delete',
              application_service_path(app_id, service_id),
              class: 'delete-action',
              title: 'delete',
              method: :delete
