%li
  .service-icon
    %img{src: presenter.icon}
  = link_to presenter.name,
            presenter.service_url,
            title: 'service-details',
            class: "status-#{presenter.status}"
  .actions
    = link_to 'edit',
              presenter.service_url,
              class: 'view-action',
              title: 'details'
    = link_to 'delete',
              presenter.service_url,
              class: 'delete-action',
              title: 'delete',
              method: :delete
