%li
  .service-icon
    %img{src: icon}
  = link_to name,
            application_service_path(app_id, service_id),
            title: 'service-details',
            class: "status-#{status}"
  .actions
    = link_to 'edit',
              application_service_path(app_id, service_id),
              class: 'view-action',
              title: 'details'
    = link_to 'delete',
              application_service_path(app_id, service_id),
              class: 'delete-action',
              title: 'delete',
              method: :delete
