- content_for(:body_id, 'manage_flow')

%h1= @app.name
%section.application-services
  %header
    %h3
      Application Services
    %nav
      %a.list.selected= ''
      %a.link= ''
  .categories
    - @app.service_categories.each do |cat|
      .category
        = cat['name']
