- content_for(:body_id, 'template_flow')

= render 'shared/errors', errors: @template_form.errors

%h1 Save as Template
- if @user.github_access_token_present?
  = render 'form', template_form: @template_form

- else
  = render 'github_token_form', user: @user
