%div.blog-feed
  %h3 Blog Stuff
  %ul.blog-feed-items
    %li
      %span.timestamp May 6, 2014
      %a{href: '#'}
        Persistent Distributed Filesystems in Docker without NFS or Gluster
    %li
      %span.timestamp May 6, 2014
      %a{href: '#'}
        Docker and Shipping Containers: An Imperfect Analogy
    %li
      %span.timestamp November 31, 2013
      %a{href: '#'}
        In-Depth DockerCon Analysis on The New Stack
    %li
      %span.timestamp September 31, 2013
      %a{href: '#'}
        Simple Introduction to CoreOS with CEO Alex Polvi and CTO Brandon Philips
