:ruby
  crumbs = breadcrumbs_for(
    'Manage',
    link_to('Some Application with a long name', '#'),
    "stevelee/tophat_debug_genome_drive"
  )
= render '/shared/breadcrumbs', breadcrumbs: crumbs
