%section.example-searches
  %h3
    Or, try one of these example searches:
  %a.example.wordpress{data: {query: 'wordpress'}} Wordpress
  %a.example.drupal{data: {query: 'drupal'}} Drupal
  %a.example.rails{data: {query: 'rails'}} Rails
