.port-detail
  %h3 Ports
  %ul
    %li
      %strong 8888
      = "/tcp"
    %li
      %strong 2020
      = "/tcp"
.environment-variables
  %h3 Environment Variables
  %dl
    %dt DATABASE_NAME
    %dd myapp_development
    %dt DB_PASSWORD
    %dd abc12378987

.service-links
  %h3 Service Links
  %ul
    %li panamax-wordpress
    %li panamax-mysql
