%h3 Port details
.port-detail
  %h3 Ports
  %ul
    %li
      %strong 8888
      = "/tcp"
    %li
      %strong 2020
      = "/tcp"
%h3 Environment Variables
.environment-variables
  %h3 Environment Variables
  %dl
    %dt DATABASE_NAME
    %dd myapp_development
    %dt DB_PASSWORD
    %dd abc12378987
