%a.journal-toggle
  Show Full Activity Log

%code.journal-output
  %p
    %span.timestamp May 8 09:10:11
    %span.source systemd
    Starting MySQL
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: The InnoDB memory heap is disabled
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: Mutexes and rw_locks use GCC atomic builtinso
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    [Warning] Using unique option prefix key_buffer instead of key_buffer_size is deprecated and will be removed in a future release. Please use the full name instead.
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    [Warning] Using unique option prefix myisam-recover instead of myisam-recover-options is deprecated and will be removed in a future release. Please use the full name instead.
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    [Note] Plugin 'FEDERATED' is disabled.
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: The InnoDB memory heap is disabled
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: Mutexes and rw_locks use GCC atomic builtins
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: Compressed tables use zlib 1.2.7
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: Using Linux native AIO
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: Initializing buffer pool, size = 128.0M
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: Completed initialization of buffer pool
  %p
    %span.timestamp May 8 09:10:11
    %span.source docker
    InnoDB: highest supported file format is Barracuda
  %p
    %span.timestamp May 8 09:10:11
    %span.source systemd
    Stopping MySQL...
