%section.details
  %ul
    %li.cpu
      .health
      %span
        Load Average:
      {{cpu}}
    %li.memory
      .health
      %span
        Memory Usage:
      {{memory}}
  %footer
    Last Updated: {{time_stamp}}
