%section.journal

  %script#journal_line_template{type: 'text/x-handlebars-template'}
    %p
      %span.timestamp {{timestamp}}
      %span.source {{source}}
      {{message}}

  %header
    %h3= title
    %a.journal-toggle{ data: { alt: { text: 'Hide Full Activity Log' } } }
      Show Full Activity Log
  %code.journal-output.truncated{ data: { source: journal_path } }
