%li
  %span.name
    = registry.name
  %span.endpoint
    %strong Endpoint:
    = registry.endpoint_url

  .actions
    = link_to 'Delete Registry',
              registry_path(registry.id),
              class: 'delete-action',
              title: 'delete'
