%li
  .repo-info
    =link_to template_repo.uri, template_repo.uri
    %span.count
      %label Templates:
      = template_repo.template_count
    %span.updated
      %label Last Refreshed:
      = DateTime.parse(template_repo.updated_at).strftime("%m/%d/%Y %H:%M:%S")

  .actions
    = link_to 'Refresh Source',
              reload_template_repo_path(template_repo.id),
              method: :post,
              class: 'reload',
              title: 'reload'
    = link_to 'Delete Source',
              template_repo_path(template_repo.id),
              class: 'delete-action',
              title: 'delete'
