%li
  .repo-info
    =link_to template_repo.uri, template_repo.uri
    %span.count
      %label Templates:
      = template_repo.template_count
  %ul.template-repo-button-menu
    %li
      = link_to 'Refresh Source', '#', method: :put, class: 'reload', title: 'reload'
    %li
      = link_to 'Delete Source',
                '#',
                method: :delete,
                class: 'delete-action',
                title: 'delete'
