%li
  .repo-info
    =link_to template_repo.uri, template_repo.uri, target: '_blank'
    %span.count
      %label Templates:
      = template_repo.template_count
    %span.updated
      %label Last Refreshed:
      = l(Time.zone.parse(template_repo.updated_at), format: :informal)

  .actions
    = link_to 'Refresh Source',
              reload_template_repo_path(template_repo.id),
              method: :post,
              class: 'reload',
              title: 'reload'
    = link_to 'Delete Source',
              template_repo_path(template_repo.id),
              class: 'delete-action',
              title: 'delete',
              method: 'delete',
              data: { delete_confirm: 'Delete this template repository?', delete_remove_at: 'li' }
