- content_for(:body_id, 'error_page')
.error-explanation
  %h2
    Oops!
    %em= message
  %h1= code
  = link_to 'report an issue on Github', 'https://github.com/CenturyLinkLabs/panamax-ui/issues/new'
