
body#contest section {
  margin: 10px 0;
}

body#contest main h1 {
  color: #274655;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 25px;
}

body#contest h3,
body#contest h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

body#contest h4,
body#contest aside {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

body#contest aside {
  border-left: 6px solid #274655;
  padding-left: 14px;
  margin: 10px 0 30px;
}
body#contest dl dt {
  color: #777;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 0 0;
}

body#contest dl dd,
body#contest #judging ul li {
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
  padding: 20px 0px;
}

body#contest dl dd:last-child {
  border-bottom: none;
}

body#contest #rules ul li {
  padding-left: 10%;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
body#contest #rules ul li:last-child {
  margin-bottom: 0;
}
body#contest #rules p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

body#contest #rules p:last-child {
  margin-bottom: 0;
}

body#contest #panel ul {
  width: 100%;
  overflow: auto;
  margin-top: 25px;
}

body#contest #panel ul li {
  width: 48%;
  margin: 0 auto 40px;
  font-weight: bold;
  font-size: 16px;
}
body#contest #panel ul li:nth-of-type(even) {
  float: right;
}

body#contest #panel ul li:nth-of-type(odd) {
  float: left;
  clear: both;
}

body#contest #panel ul li .info span {
  font-weight: normal;
  font-style: italic;
  display: block;
  font-size: 14px;
  margin: 6px 0;
  max-width: 80%;
}

body#contest #panel ul li .info > a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

body#contest #panel ul li .info em {
  font-weight: bold;
}

body#contest #panel ul li .info a.github {
  background-image: url("../images/logo_github_grey.svg");
  margin-right: 2px;
}

body#contest #panel ul li .info a.twitter {
  background-image: url("../images/logo_twitter_grey.svg");
}

body#contest #prizes > div {
  width: 100%;
  margin-bottom: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#contest #prizes img {
  float: left;
  width: 40%;
  max-width: 150px;
  margin-left: 13%;
  margin-right: 3%;
}

body#contest #prizes header {
  background: none;
  display: inline-block;
  height: 175px;
  border-bottom: 1px solid #f1f1f1;
}

body#contest #prizes header h5 {
  margin-bottom: 8px;
  font-weight: 200;
  font-size: 32px;
}

body#contest #prizes header h5 em {
  display: block;
  font-style: normal;
  font-size: 75px;
  color: #aaaaaa;
  font-weight: 100;
}

body#contest #prizes header h6 {
  font-size: 20px;
  color: #aaaaaa;
  font-weight: 100;
}

body#contest #prizes ul.specs {
  color: #aaaaaa;
  list-style: disc;
  padding-left: 10%;
}

body#contest #prizes ul li {
  margin: 8px 0;
}

body#contest #prizes ul.extras li {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
}

body#contest #prizes ul.extras li:first-child {
  border-top: 1px solid #f1f1f1;
}

body#contest footer h4 {
  border-bottom: none;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  body#contest dl dt {
    float: left;
    width: 15%;
  }

  body#contest dl dd,
  body#contest #judging ul li {
    padding: 20px 0px 20px 20%;
    margin-bottom: 0;
  }

  body#contest #faq dl dt {
    width: 48%;
  }

  body#contest #faq dl dd {
    padding: 20px 0px 20px 52%;
  }

  body#contest #rules {
    overflow: auto;
  }

  body#contest #rules p {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
  }

  body#contest #rules .left {
    width: 48%;
    float: left;
  }

  body#contest #rules .right {
    width: 48%;
    float: right;
  }

  body#contest #panel ul li {
    width: 32%;
  }

  body#contest #panel ul li .info {
    width: 140px;
  }

  body#contest #panel ul li:nth-of-type(odd) {
    clear: none;
  }

  body#contest #panel ul li:nth-of-type(even) {
    float: left;
  }

  body#contest #prizes > div {
    width: 50%;
    float: left;
  }

  body#contest #prizes header {
    height: 180px;
  }

  body#contest #prizes img {
    margin-left: 3%;
    max-width: 200px;
  }

  body#contest #prizes ul.specs {
    padding-left: 45%;
    width: 95%;
  }

  body#contest #prizes ul.extras {
    clear: both;
    overflow: auto;
    border-top: 1px solid #f1f1f1;
  }

  body#contest #prizes ul.extras li {
    width: 33%;
    float: left;
    border: none;
    margin: 0;
  }

  body#contest #prizes ul.extras li:nth-of-type(2) {
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
  }

  body#contest #prizes ul.extras li:first-child {
    border: none;
  }
}

@media screen and (min-width: 960px) {
  body#contest #panel ul li {
    margin-bottom: 60px;
  }

  body#contest #panel ul li img {
    display: inline-block;
  }
  body#contest #panel ul li .info {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-left: 10px;
  }
  body#contest #panel ul li .info span {
    margin-bottom: 8px;
  }

  body#contest #prizes header {
    height: 220px;
  }

}
