
body#contest section {
  margin: 10px 0;
}

body#contest main h1 {
  color: #274655;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 25px;
}

body#contest h3,
body#contest h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

body#contest h4,
body#contest aside {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

body#contest aside {
  border-left: 6px solid #274655;
  padding-left: 14px;
  margin: 10px 0;
}
body#contest dl dt {
  color: #777;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 0 0;
}

body#contest dl dd,
body#contest #judging ul li {
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
  padding: 20px 0px;
}

body#contest dl dd:last-child {
  border-bottom: none;
}

body#contest #rules ul li {
  padding-left: 10%;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
body#contest #rules ul li:last-child {
  margin-bottom: 0;
}
body#contest #rules p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

body#contest #rules p:last-child {
  margin-bottom: 0;
}

body#contest #panel ul {
  width: 100%;
  overflow: auto;
  margin-top: 25px;
}

body#contest #panel ul li {
  width: 48%;
  margin: 0 auto 40px;
  font-weight: bold;
  font-size: 16px;
}
body#contest #panel ul li:nth-of-type(even) {
  float: right;
}

body#contest #panel ul li:nth-of-type(odd) {
  float: left;
}

body#contest #panel ul li .info span {
  font-weight: normal;
  font-style: italic;
  display: block;
  font-size: 14px;
  margin-top: 6px;
}

body#contest #panel ul li .info a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

body#contest #panel ul li .info a.github {
  background-image: url("../images/logo_github_grey.svg");
  margin-right: 2px;
}

body#contest #panel ul li .info a.twitter {
  background-image: url("../images/logo_twitter_grey.svg");
}

@media screen and (min-width: 768px) {
  body#contest dl dt {
    float: left;
    width: 15%;
  }

  body#contest dl dd,
  body#contest #judging ul li {
    padding: 20px 0px 20px 20%;
    margin-bottom: 0;
  }

  body#contest #faq dl dt {
    width: 48%;
  }

  body#contest #faq dl dd {
    padding: 20px 0px 20px 52%;
  }

  body#contest #rules {
    overflow: auto;
  }

  body#contest #rules p {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
  }

  body#contest #rules .left {
    width: 48%;
    float: left;
  }

  body#contest #rules .right {
    width: 48%;
    float: right;
  }

  body#contest #panel ul li {
    width: 32%;
  }

  body#contest #panel ul li .info {
    width: 140px;
  }

  body#contest #panel ul li:nth-of-type(even) {
    float: left;
  }
}

@media screen and (min-width: 960px) {
  body#contest #panel ul li {
    margin-bottom: 60px;
  }

  body#contest #panel ul li img {
    display: inline-block;
  }
  body#contest #panel ul li .info {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-left: 10px;
  }
  body#contest #panel ul li .info span {
    margin-bottom: 8px;
  }
}
