/* RESET */

html, body, h1, h2, h3, h4, h5, h6,
p, a, cite, img, small,
dl, dt, dd, ol, ul, li,
form, label, input,
table, tbody, tfoot, thead, tr, th, td,
header, footer, main, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  height: 100%;
  width: 100%;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5em;
  font-weight: 200;
  color: #5F7A87;
  border-bottom: #CCC 1px solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #5F7A87;
  font-size: 36px;
  font-weight: 200;
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 800;
  color: #ed6323;
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  font-weight: 100;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

h5 {
  font-size: 1.125em;
  font-weight: 400;
}

h6 {
  font-size: 0.929em;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 32px;
  padding: 0 0 1em 0;
}

a {
  color: #186D95;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

li {
  font-size: 0.875em;
}

.microcopy {
  color: #aaa;
  font-style: italic;
}

blockquote {
  color: #1B6C94;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  font-style: italic;
  margin: 0 0 20px 0;
  padding-left: 60px;
}

pre {
  border: 1px solid #CCC;
  background: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

pre code {
  word-wrap: break-word;
}

/* BASE PANAMAX STYLES */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #777;
  min-width: 300px;
  overflow-x: hidden;
}

.cache-warmer,
.background {
  display: none;
}

body.content .background {
  opacity: .4;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header and Nav*/
header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

header h1.panamax-logo {
  background: #777;
  border: none;
  padding: 0;
  margin: 0;
}

header h1.panamax-logo:hover {
  background-color: #333;
  transition: background-color 0.25s ease;
}

header h1.panamax-logo + button {
  position: absolute;
  right: 10px;
  top: 10px;
}

header h1.panamax-logo a {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  background: url('../images/pmx_logo.svg') no-repeat center center;
  background-size: 148px 19px;
  width: 190px;
  display: block;
  height: 54px;
  margin: 0 auto;
}

header a#nav-toggle,
.sidr-inner a#sidr-id-nav-close {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

header a#nav-toggle:after,
.sidr-inner a#sidr-id-nav-close:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 15px;
  width: 15px;
  background-image: url(../images/icon_sprite_white.svg);
  background-repeat: no-repeat;
  background-size: 15px 1500px;
}

header a#nav-toggle:after {
  background-position: 0 -420px;
}

.sidr-inner a#sidr-id-nav-close:after {
  background-position: 0 -60px;
}

header nav {
  background: #8EC643;
  width: 100%;
  margin-bottom: 10px;
  display: none
}

header nav ul li {
  text-transform: uppercase;
  font-weight: 400;
}

header nav ul li a {
  color: #FFF;
  text-decoration: none;
  padding: 20px 0;
  font-size: 12px;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  text-align: center;
}

header nav ul li a:hover {
  background-color: rgb(132, 188, 57);
  transition: background-color 0.25s ease;
}

#social-icons {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  padding: 20px 10px 20px 0px;
}

#social-icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

#social-icons a.github {
  background-image: url("../images/logo_github_grey.svg");
  margin-right: 2px;
}

#social-icons a.twitter {
  background-image: url("../images/logo_twitter_grey.svg");
}

cite.built-by {
  display: block;
  width: 145px;
  overflow: hidden;
  margin: 0 10px 0 auto;
}

cite.built-by span {
  float: left;
  line-height: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 12px;
  color: #AAA;
}

cite.built-by h2 {
  border-bottom: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  float: left;
  height: 30px;
  width: 140px;
  background: url('../images/ctl_logo_base.svg') no-repeat;
  background-size: 140px 30px;
  background-position: center left;
}

section {
  padding: 20px 0;
}

#hero h1 {
  border-bottom: none;
  margin-bottom: 20px;
}

#hero h2 {
  font-size: 24px;
  font-weight: bold;
  color: #AAA;
  border-bottom: none;
  margin-bottom: 30px;
}

#hero a {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
}

#hero,
#about-panamax {
  padding: 20px;
}

#about-panamax dl dt {
  color: #ed6323;
  font-weight: 200;
  font-size: 24px;
  margin-top: 20px;
}

#about-panamax dl dd {
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
}

#about-panamax dl dd:last-child {
  border-bottom: none;
}

#view-screens {
  background-color: #cccccc;
  padding: 20px 0 0 0;
}

#view-screens .inner {
  width: 520px;
}

#view-screens h2 {
  margin: 0 auto 10px;
  display: block;
  width: 370px;
  padding: 0;
  border-bottom: none;
  color: white;
  text-shadow: 0 0 2px rgba(150, 150, 150, .4);
}

#view-screens img.preview-image {
  padding: 0;
  margin: 0 0 -3px 0;
}

#view-screens a {
  position: relative;
  font-size: 0;
  margin: 0 5px;
}

#view-screens a > .overlay {
  position: absolute;
  display: none;
  height: 98px;
  width: 150px;
  background-color: rgba(150, 150, 150, .6);
  bottom: -3px;
  left: 5px;
  box-shadow: 0 0 5px rgba(100, 100, 100, .5);
}

#view-screens a:hover > .overlay {
  display: block;
}

#view-screens a:hover > .overlay:after {
  display: block;
  content: '';
  position: absolute;
  top: 38px;
  left: 62px;
  background-color: rgba(100, 100, 100, .5);
  background-image: url(../images/icon_sprite_white.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  -webkit-background-size: 15px 1500px;
  -o-background-size: 15px 1500px;
  -moz-background-size: 15px 1500px;
  background-size: 15px 1500px;
  background-position: 5px -205px;
}

#contest-banner {
  height: 275px;
}

#contest-banner .inner {
  background-image: url(../images/contest/panamax_contest_bg_big.jpg);
  background-position: 0 -215px;
  background-repeat: no-repeat;
  height: 100%;
  overflow: auto;
  position: relative;
}

#contest-banner .inner .info,
#contest-banner .inner .action {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#contest-banner .inner .info {
  width: 70%;
  background-color: rgba(4, 19, 30, .75);
  float: left;
  padding-right: 40px;
}

#contest-banner .inner .action {
  width: 30%;
  height: 100%;
  background-color: rgba(60, 82, 94, .75);
  float: right;
}

#contest-banner .inner h3 {
  color: #8DC543;
  font-size: 24px;
  font-weight: 100;
  border-bottom: 0;
  padding-bottom: 0;
  margin: 20px 0 10px 0;
}

#contest-banner p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}

#contest-banner p,
#contest-banner a,
#contest-banner h3 {
  position: relative;
  z-index: 10;
}

#contest-banner img.prizes {
  position: absolute;
  top: 25px;
  right: 18%;
  z-index: 1;
}

#contest-banner .button-positive {
  background-color: #8DC543;
  margin: 27% 0 0 21%;
  text-decoration: none;
}

#contest-banner .button-positive:hover {
  transition: background-color 0.25s ease;
  background: #fff;
  color: #8DC543;
}

#get-panamax {
  background: #274655;
  padding: 20px;
  margin-bottom: 0;
}

#get-panamax h2 {
  margin: 0 0 15px 0;
  padding: 0;
  border-bottom: none;
  color: white;
}

#get-panamax button {
  width: 100%;
}

#get-panamax button:hover {
  background: #f1f1f1;
  color: #5F7A87;
}

#how-it-works {
  padding: 0;
}

#how-it-works h2 {
  padding: 0;
  border-bottom: none;
}

#how-it-works ul {
  font-weight: bold;
}

#how-it-works li {
  background-color: rgb(240, 240, 240);
}

#how-it-works li h3 {
  position: relative;
  margin: 0;
  padding: 20px 20px 20px 50px;
  border-bottom: none;
  font-size: 16px;
  color: #5F7A87;
  cursor: pointer;
}

#how-it-works li p {
  display: none;
  padding: 0 20px 20px 20px;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
}

#how-it-works li h3:before {
  display: block;
  content: '';
  position: absolute;
  top: 22px;
  left: 20px;
  background-image: url(../images/icon_sprite.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  -webkit-background-size: 15px 1500px;
  -o-background-size: 15px 1500px;
  -moz-background-size: 15px 1500px;
  background-size: 15px 1500px;
}

#how-it-works li.active {
  background-color: #5F7A87;
  color: white;
}

#how-it-works li.active h3 {
  color: white;
}

#how-it-works li.active p {
  display: block;
}

#how-it-works li.active h3:before {
  background-image: url(../images/icon_sprite_white.svg);
}

#how-it-works li h3#install:before {
  background-position: 0 -270px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 25px;
}

#how-it-works li h3#build:before {
  background-position: 0 -210px;
}

#how-it-works li h3#manage:before {
  background-position: 0 -90px;
}

.inner {
  margin: 0 auto;
  max-width: 960px;
}

.section-summary {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 30px;
}

.section-summary p {
  font-size: 24px;
  line-height: 38px;
  padding: 0px 0px 0px 20px;
  margin-bottom: 30px;
  color: #AAA;
  border-left: 10px solid #E41741;
}

.section-summary a {
  color: #777;
  text-decoration: none;
}

.section-summary a:hover {
  color: #AAA;
  border-bottom: 1px solid #CCC;
}

/* FOOTER */
footer {
  padding: 20px;
  overflow: hidden;
  background: #f1f1f1;
  line-height: 22px;
}

footer p {
  font-size: 0.857em;
  line-height: 1.2em;
}

footer a {
  color: #5f7a87;
}

#footer-info {
  margin-bottom: 35px;
}

#footer-info img {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}

#footer-info p {
  margin-bottom: 20px;
}

#footer-info li {
  display: block;
  margin: 10px 10px 10px 0px;
}

#footer-info li a {
  text-decoration: none;
}

#footer-info li a:hover {
  text-decoration: underline;
}

#newsletter h4 {
  font-size: 1.2em;
  font-weight: 400;
  color: #ED6323;
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
}

#newsletter .button-secondary {
  color: #FFF;
  background-color: #777;
  font-size: 14px;
  padding: 10px 20px;
}

#newsletter .button-secondary:hover {
  background-color: #AAA;
}

#newsletter input {
  margin-bottom: 10px;
  width: 100%;
}

#newsletter input[type='email'] {
  border-radius: 3px;
  text-align: left;
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 15px;
}

.copyright {
  padding: 0 0 15px 0;
  margin: 0;
}

.copyright #logo {
  height: 70px;
  background: url('../images/ctl_logo_base.svg') 20px 20px no-repeat #FFF;
  background-size: 140px 30px;
}

.copyright small {
  margin-left: 20px;
  font-size: 12px;
}

hr {
  border: 4px solid #f1f1f1;
  margin-bottom: 20px;
}

/*BUTTONS + ANCHORS*/

.button-primary,
.button-secondary,
.button-positive {
  display: inline-block;
  border-radius: 3px;
  border: 0;
  padding: 20px 40px 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}

.button-primary:hover,
.button-secondary:hover {
  transition: background-color 0.25s ease;
}

.button-primary:focus,
.button-secondary:focus {
  outline: none;
}

.button-primary {
  background: #5F7A87;
  color: #FFF;
}

.button-primary:hover {
  background: #81b838;
}

.button-secondary {
  color: #229fe5;
  background: #f1f1f1;
}

.button-secondary:hover {
  background: #AAA;
  color: #FFF;
}

.button-positive {
  background: #ed6323;
  color: #FFF;
}

.button-positive:hover {
  background: #e45513;
}

p a:hover {
  color: #229fe5;
}

/*FORMS*/

input {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #AAA;
  color: #AAA;
}

#download-panamax,
#install-panamax,
#run-panamax {
  text-align: center;
  padding: 20px 0px;
  height: 180px;
}

#download-panamax,
#install-panamax {
  background: #f1f1f1;
}

#run-panamax {
  background: yellow;
}

/* SIDE NAV */

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 240px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #8EC643;
  color: #ffffff;
  font-weight: bold;
}

.sidr .sidr-inner {
  padding: 0 0 15px;
}

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}

.sidr.right {
  left: auto;
  right: -240px;
}

.sidr.left {
  left: -240px;
  right: auto;
}

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
}

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 54px;
}

.sidr ul li:hover {
  background-color: rgb(132, 188, 57);
}

.sidr ul li a, .sidr ul li span {
  padding: 0 16px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

body#documentation main {
  overflow: auto
}

body#documentation section h4 {
  margin: 25px 0 15px;
}
body#documentation section ul.wiki-articles li a {
  font-weight: normal;
}

body#documentation section a {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5F7A87;
}

body#install section strong {
  margin: 15px 0 35px 0;
  display: inline-block;
  color: #aaaaaa;
  font-size: 26px;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body#install section h5 {
  font-weight: bold;
  margin-bottom: 14px;
}
body#install #video {
  margin: 0 auto 40px;
}

body#install #video iframe {
  width: 320px;
  height: 210px;
  margin: 0 auto
}

body#install section ul.requirements {
  margin-bottom: 30px;
}

body#install section ul.requirements li {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* TODO throwaway styles */

body.documentation main {
  margin-bottom: 40px;
}

body.documentation main h1,
body.documentation main h3 {
  margin-bottom: 15px;
}

body.documentation main h3 {
  border-bottom: 0;
}

body.documentation main ul li,
body.documentation main p {
  font-size: 20px;
}

body.documentation main ul li {
  margin: 15px 0;
}

/*MEDIA QUERIES*/

@media all and (max-width: 768px) {
  #social-icons,
  #footer-info li.github,
  #footer-info li.twitter {
    display: none;
  }

  #view-screens h2 {
    width: 370px;
    margin: 0 auto 20px auto;
    float: none;
  }

}

@media screen and (max-width: 480px) {
  #view-screens h2 {
    font-size: 26px;
    width: 260px;
  }

  #view-screens .inner {
    width: 300px;
  }

  #view-screens img.preview-image {
    width: 100px;
    height: auto;
  }

  #view-screens a {
    margin: 0;
  }

  #view-screens a > .overlay {
    position: absolute;
    display: none;
    height: 60px;
    width: 94px;
    bottom: -3px;
    left: 3px;
  }

  #view-screens a:hover > .overlay {
    display: block;
  }

  #view-screens a:hover > .overlay:after {
    top: 19px;
    left: 35px;
  }
  #contest-banner img.prizes {
    top: 55%;
    right: 30%;
  }
}

@media all and (max-width: 550px) {
  #about-panamax iframe {
    display: none !important;
  }
}
@media all and (min-width: 481px) {
  #get-panamax h2 {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    top: 5px;
  }

  #get-panamax button {
    width: 45%;
    max-width: 400px;
    margin-left: 3%;
  }

  #newsletter input[type='email'] {
    width: 55%;
  }

  #newsletter input[type='submit'] {
    width: 40%;
  }
}

@media all and (min-width: 481px) and (max-width: 550px) {
  #view-screens .inner {
    width: 480px;
  }

  #view-screens a {
    margin: 0;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #hero a {
    width: 48%;
    display: inline-block;
  }

  #hero a:first-of-type {
    margin-right: 2%;
  }

  #contest-banner {
    height: 440px;
  }

  #contest-banner .inner h3 {
    margin-top: 80px;
    width: 70%;
  }

  #contest-banner .inner {
    background-position: bottom right;
  }

  #contest-banner .inner .info,
  #contest-banner .inner .action {
    float: none;
    box-sizing: border-box;
  }

  #contest-banner .inner .info {
    height: 300px;
  }

  #contest-banner .inner .action {
    height: 100px;
  }

  #contest-banner .button-positive {
    width: 50%;
    margin: 0 0 0 45%;
  }

  #contest-banner img.prizes {
    top: 5%;
    right: 5%;
  }

  body#install #video iframe {
    width: 440px;
    height: 280px;
    margin: 0 auto
  }
}

@media all and (min-width: 481px) and (max-width: 850px) {
  header nav ul li.welcome {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #contest-banner {
    height: 480px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #contest-banner .inner {
    background-position: bottom right;
  }

  #contest-banner .inner .info,
  #contest-banner .inner .action {
    float: none;
    box-sizing: border-box;
  }

  #contest-banner .inner .info {
    width: 100%;
    height: 340px;
  }

  #contest-banner .inner .action {
    padding-bottom: 0;
    width: 100%;
    height: 100px;
  }

  #contest-banner .button-positive {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  #how-it-works h2 {
    padding: 0 0 0 20px;
  }
}

@media all and (min-width: 769px) {

  .background {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    opacity: .75;
  }

  /* HEADER */
  header {
    overflow: hidden;
    background: #8EC643;
    margin-bottom: 10px;
  }

  header h1.panamax-logo {
    padding: 0;
    float: left;
  }

  header nav {
    display: block;
    width: 100%;
    padding-left: 190px;
    margin-bottom: 0;
  }

  header nav ul li {
    float: left;
  }

  header nav ul li a {
    padding: 20px 12px;
  }

  header nav ul li.contest {
    background: #659D1B;
  }

  header nav ul li.twitter,
  header nav ul li.github {
    display: none;
  }

  header a#nav-toggle,
  header a#nav-close {
    display: none;
  }

  #social-icons {
    padding: 0;
    top: 16px;
  }

  #social-icons a.github {
    background-image: url("../images/logo_github_white.svg");
    margin-right: 2px;
  }

  #social-icons a.twitter {
    background-image: url("../images/logo_twitter_white.svg");
  }

  /* HERO */
  #hero {
    padding: 0 10% 0 30%;
    margin: 75px 0;
  }

  #hero a {
    width: 45%;
    display: inline-block;
  }

  #hero a:first-of-type {
    margin-right: 10px;
  }

  #view-screens h2 {
    float: left;
    margin: 16px 5px 0 0;
  }

  #view-screens .inner {
    width: 960px;
  }

  /* MAIN INFO SECTIONS */
  section {
    margin: 0 auto 20px;
  }

  section:last-of-type {
    margin-bottom: 0;
  }

  #about-panamax dl {
    margin-right: 300px;
  }

  #about-panamax dl dt {
    float: left;
    width: 15%;
  }

  #about-panamax dl dd {
    padding-left: 20%;
  }

  #how-it-works {
    position: relative;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  #how-it-works .inner {
    max-width: 960px;
    margin: 0 auto;
  }

  #how-it-works h2 {
    vertical-align: top;
    margin-top: 0;
    display: inline-block;
    width: 27%;
  }

  #how-it-works > .background {
    position: absolute;
    top: 59px;
    width: 100%;
    height: 342px;
    background-size: 100% auto;
    transition: background-image .5s ease;
  }

  #how-it-works.install > .background {
    background-image: url('../images/how_it_works/how_install.jpg');

  }

  #how-it-works.build > .background {
    background-image: url('../images/how_it_works/how_build.jpg');

  }

  #how-it-works.manage > .background {
    background-image: url('../images/how_it_works/how_manage.jpg');

  }

  #how-it-works ul {
    overflow: hidden;
    display: inline-block;
    width: 68%;
    margin-left: 2%;
  }

  #how-it-works ul li {
    width: 30%;
    margin: 0 1%;
    float: left;
  }

  /* FOOTER */
  #footer-info {
    margin-bottom: 0;
    width: 55%;
    float: left;
  }

  #footer-info li {
    display: inline-block;
    margin-bottom: 0;
  }

  #footer-info li.twitter {
    padding-right: 15px;
    border-right: 1px solid #AAA;
  }

  #footer-info p {
    padding-bottom: 50px;
    margin: 0;
    line-height: 1.7em;
  }

  #newsletter {
    width: 43%;
    float: right;
  }

  #newsletter input[type="email"],
  #newsletter input[type="submit"] {
    margin-bottom: 0;
  }

  .copyright {
    padding-bottom: 0;
  }

  .copyright #logo {
    width: 190px;
    display: inline-block;
  }

  .copyright small {
    margin-left: 0;
    vertical-align: 30px;
  }

  body#documentation section {
    width: 48%;
  }

  body#documentation section:nth-of-type(even) {
    float: right;
  }

  body#documentation section:nth-of-type(odd) {
    float: left;
    clear: both;
  }

  body#install section {
    overflow: auto;
  }

  body#install #video {
    width: 48%;
    float: right;
    margin-bottom: 0;
  }

  body#install #instructions {
    width: 48%;
    float: left;
  }

  body#install #instructions ~ p {
    clear: both;
  }

  body#install #video iframe {
    width: 440px;
    height: 280px;
    margin: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 960px) {

  #view-screens h2 {
    font-size: 26px;
    width: 260px;
    margin: 26px 0 0;
  }

  #view-screens .inner {
    width: 768px;
  }

}

@media all and (min-width: 481px) and (max-width: 960px) {
  header nav ul li a {
    padding: 20px 8px;
    letter-spacing: 1px;
  }

  #social-icons {
    width: 53px;
  }

  #view-screens img.preview-image {
    padding: 0;
    height: auto;
  }

}
