h1 {
  font-size: 2.5em;
  font-weight: 200;
  border-bottom: #CCC 1px solid;
}

h2 {
  font-size: 1.3em;
  font-weight: 800;
}

h3 {
  font-size: 1.2em;
  font-weight: 800;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-size: 1.125em;
  font-weight: 400;
}

h6 {
  font-size: 0.929em;
  font-weight: 400;
}

p {
  font-size: 0.857em;
  padding: 0 0 1em 0;
  line-height: 1.7em;
}

a {
  color: #186D95;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

li {
  font-size: 0.875em;
}

.microcopy {
  color: #aaa;
  font-style: italic;
}

/*SPECIAL TYPOGRAPHY*/
p {
  font-size: 16px;
  line-height: 36px;
}

h2 {
  color: #5F7A87;
  font-size: 36px;
  font-weight: 200;
  border-bottom: 1px solid #CCC;
  padding-bottom: 30px;
  margin: 20px 0px;
}

h3 {
  font-size: 24px;
  color: #ed6323;
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  margin: 20px 0px;
}

blockquote {
  color: #1B6C94;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  font-style: italic;
  margin: 0px 0px 20px 0px;
  padding-left: 60px;
}

pre {
  border: 1px solid #CCC;
  background: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

pre code {
  word-wrap: break-word;
}
