- content_for(:body_id, 'deployments_flow')
= render '/shared/breadcrumbs', breadcrumbs: ["Manage", "Remote Deployment Targets"]
- @deployment_targets.each do |target|
  .deployment-target{ id: dom_id(target) }
    %a.name{ data: { toggle: { target: "##{dom_id(target)}", class: 'expanded' } } }= target.name
    %dl.target-info
      %dt Endpoint:
      %dd= target.endpoint_url
    %dl.token
      %dt Target Token
      %dd.token-contents
        %div{ contenteditable: true }= target.auth_blob
