%li{ data: { id: presenter.id }, class: presenter.status }
  .service-icon
    %img{src: presenter.icon}
  = link_to presenter.name,
            presenter.service_url,
            title: 'service-details'
  .actions
    = link_to 'view',
              presenter.service_url,
              class: 'edit-action',
              title: 'details'
    = link_to 'delete',
              presenter.service_url,
              class: 'delete-action',
              title: 'delete',
              method: :delete
