@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

section.application-services {
  border-bottom: 1px solid $grey;
  line-height: 30px;
  h3 {
    @include border-box;
    width: 890px;
    display: inline-block;
    margin-bottom: 4px;
  }
  nav {
    @include border-box;
    display: inline-block;
    a {
      @include border-radius(4px);
      vertical-align: top;
      position: relative;
      display: inline-block;
      width: 31px;
      background: none;
      height: 31px;
    }
    a.list {
      &.selected {
        background: $grey;
      }
      &.selected:before {
        @extend .icon-list-large;
        @include icon-grey;
      }
      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @extend .icon-list-large;
        @include icon-light-grey;
        width: 20px;
        height: 20px;
      }
    }
    a.link {
      &.selected {
        background: $grey;
      }
      &.selected:before {
        @include icon-grey;
      }
      &:before {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        display: block;
        @include icon-light-grey;
        width: 20px;
        height: 20px;
      }
    }
  }
}