@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

body > header {
  background: $ctl_light_green;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;

  h1 {
    border: none;
    float: left;
    padding: 0;
    margin: 0;
  }

  h1.panamax-logo a {
    @include border-box;
    @include hide-text;
    background: image-url('pmx_logo.svg') no-repeat center center $dark_grey;
    @include background-size(148px, 19px);
    width: 178px;
    display: block;
    height: 60px;
  }

  nav {
    float: left;

    ul li {
      float: left;

      a {
        @include border-box;
        color: $white;
        display: block;
        padding: 10px 40px 10px 55px;
        line-height: 40px;
        text-decoration: none;
        position: relative;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;

        &:before {
          display: block;
          content: '';
          position: absolute;
          left: 20px;
          top: 20px;
        }

        &:hover {
          background-color: $lime;
        }
      }
    }
  }
}

body > header nav ul li {
  &.search-link a:before {
    @extend .icon-magnifying-glass-large;
    @include icon-white;
  }
  &.manage-link a:before {
    @extend .icon-sprocket-large;
    @include icon-white;
  }
}

/* active states */
#search_flow .search-link a,
#manage_flow .manage-link a {
  background-color: $lime;
}

cite.built-by {
  float: right;
  margin-right: 15px;

  span {
    float: left;
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
  }

  h2 {
    float: left;
    height: 30px;
    width: 140px;
    margin: 0;
    padding: 0;
    @include hide-text;
    background: image-url('ctl_base_ui/ctl_logo_base.svg') no-repeat;
    @include background-size(140px, 30px);
    background-position: center left;
  }
}

aside.host {
  float: left;
  margin-left: 30px;

  &:hover {
    cursor: pointer;
  }

  span {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
    color: $dark_grey;
    font-weight: 400;
  }

  .health {
    margin-top: 5px;
    position: relative;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background: darken($ctl_light_green, 10%);

    section.details {
      box-sizing: border-box;
      padding: 10px;
      width: 220px;
      position: absolute;
      top: 24px;
      left: -30px;
      background: $yellow;
      font-size: 0.8em;
      z-index: 100;

      &:before {
        box-sizing: content-box;
        content: ' ';
        width: 0;
        height: 0;
        display: block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid $yellow;
        position: absolute;
        left: 30px;
        top: -10px;
      }
    }

    &.danger {
      background-color: $dark_red;
    }

    &.warning {
      background: #F5D04C;
    }

    &.good {
      background: darken($ctl_light_green, 10%);
    }

    li {
      clear:both;
      height: 25px;
      line-height: 25px;

      span {
        line-height: inherit;
        margin: -1px 0 0 4px;
        padding-right: 2px;
        font-weight: bold;
      }
    }

    footer {
      margin-top: 15px;
      font-style: italic;
      font-size: 0.9em;
    }
  }
}

main {
  clear: both;
  width: 960px;
  margin: 0 auto;
}

h1.breadcrumbs {
  ul li {
    display: inline;

    a {
      color: $blue_grey;
    }

    &:not(:last-child):after {
      content: ' /';
      color: $grey;
    }

    &:last-child {
      color: $orange;
    }
  }
}

.actions {
  a.delete-action,
  a.view-action {
    @include hide-text;
    float: left;
    width: 20px;
    height: 100%;
    position: relative;

    &:after {
      left: 5px;
      top: 16px;
      position: absolute;
      content: '';
    }
  }

  a.delete-action {
    &:after {
      @extend .icon-x;
      @include icon-light-grey;
    }

    &:hover:after {
      @include icon-red;
    }
  }

  a.view-action {
    &:after {
      @extend .icon-magnifying-glass;
      @include icon-light-grey;
    }

    &:hover:after {
      @include icon-grey;
    }
  }
}

.indicate-new {
  background: $yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

.content-editable {
  @include border-radius('5px');
  position: relative;
  margin: 0;
  border: 2px solid $medium_grey;
  background: $white;
  display: block;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
  outline: 0px solid transparent;

  &:focus {
    outline: 0px solid transparent;
  }

  .edit-field {
    margin-left: 1px;
  }

  *[contenteditable=true] {
    outline: 0px solid transparent;
  }

  .checkmark {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    height: 30px;
    @extend .icon-checkmark-large;
    @include icon-light-grey;

    &:hover {
      @include icon-grey;
      cursor: pointer;
    }
  }

  .checkmark.dirty {
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    height: 30px;
    @extend .icon-checkmark-large;
    @include icon-light-green;
  }

  .loading {
    position: absolute;
    top: 14px;
    right: 8px;
    width: 16px;
    height: 16px;
    background-image: image-url('icon_loading_green.gif');
    background-position: top left;
    background-repeat: no-repeat;

  }
}

footer {
  clear: both;
  margin-top: 70px;

  .content {
    background: $light_grey;
    padding: 20px;
    overflow: auto;
  }

  h4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content > p:first-of-type {
    margin-bottom: 20px;
    width: 60%;
  }


  ul li {
    display: inline-block;

    a {
      display: inline-block;
      font-size: 14px;
      margin: 0px 10px 0px 0px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.github-link a {
      @extend .icon-github-large;
    }

    &.twitter-link {
      a {
        @extend .icon-twitter-large;
      }

      &:after {
        content: '|';
        font-weight: 100;
        color: $medium_grey;
        margin-right: 5px;
      }
    }

    &.github-link a,
    &.twitter-link a {
      margin-bottom: -5px;
      width: 20px;
      @include hide-text;
      @include icon-light-grey;

      &:hover {
        @include icon-grey;
      }
    }
  }

  #email_newsletter {
    width: 35%;
    float: right;
  }

  .ctl-copyright {
    min-height: 70px;
    padding: 20px 20px 0px 40px;
    background: image-url('ctl_base_ui/ctl_logo_base.svg') no-repeat 20px 20px;
    @include background-size(140px, 30px);

    .microcopy {
      margin: 6px 0px 0px 140px;
      font-size: 12px;
    }
  }
}
