@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

body > header {
  background: $light_grey;
  width: 100%;
  overflow: hidden;
  margin-bottom: 35px;

  h1 {
    border: none;
    float: left;
    padding: 0;
    margin: 10px;

    a {
      @include border-box;
    }
  }
  h1.panamax-logo a {
    @include hide-text;
    background: image-url('pmx_logo.svg') no-repeat;
    @include background-size(148px, 19px);
    background-position: center left;
    width: 168px;
    border-right: $grey 1px solid;
    display: block;
    height: 50px;
  }

  h1.ctl-labs {
    font-size: 16px;
    color: $dark_grey;
    font-weight: bold;
    margin-top: 27px;
    a {
      color: $dark_grey;
    }
  }

  nav {
    float: right;
    margin-right: 20px;

    ul li {
      float: left;

      a {
        @include border-box;
        @include border-radius(3px);
        display: block;
        margin: 10px;
        padding: 0 20px 0 35px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        position: relative;
        font-size: 0.9em;

        &:before {
          @include icon-light-grey;
          display: block;
          content: '';
          position: absolute;
          left: 10px;
          top: 15px;
        }

        &:hover {
          background-color: $dark_blue;
          color: $white;

          &:before {
            @include icon-light-blue;
          }
        }
      }
    }
  }
}

body > header nav ul li {
  &.search-link a:before {
    @extend .icon-magnifying-glass-large;
  }
  &.manage-link a:before {
    @extend .icon-sprocket-large;
  }
}

/* active states */
#search_flow .search-link a,
#manage_flow .manage-link a {
  background-color: $grey;
  color: $dark_grey;

  &:before {
    @include icon-grey;
  }
}


main {
  width: 960px;
  margin: 0 auto;
}

h1.breadcrumbs {
  ul li {
    display: inline;

    a {
      color: $lipstick_red;
    }

    &:not(:last-child):after {
      content: ' /';
      color: $grey;
    }

    &:last-child {
      color: $sky_blue;
    }
  }
}

.actions {
  a.delete-action,
  a.edit-action {
    @include hide-text;
    float: left;
    width: 20px;
    height: 100%;
    position: relative;

    &:after {
      left: 5px;
      top: 16px;
      position: absolute;
      content: '';
    }
  }

  a.delete-action {
    &:after {
      @extend .icon-x;
      @include icon-light-grey;
    }

    &:hover:after {
      @include icon-red;
    }
  }

  a.edit-action {
    &:after {
      @extend .icon-magnifying-glass;
      @include icon-light-grey;
    }

    &:hover:after {
      @include icon-grey;
    }
  }
}

.indicate-new {
  background: $yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

