@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

body > header {
  background: $ctl_light_green;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;

  h1 {
    border: none;
    float: left;
    padding: 0;
    margin: 0;
  }

  h1.panamax-logo a {
    @include border-box;
    @include hide-text;
    background: image-url('pmx_logo.svg') no-repeat center center $dark_grey;
    @include background-size(148px, 19px);
    width: 178px;
    display: block;
    height: 60px;
  }

  nav {
    float: left;

    ul li {
      float: left;

      a {
        @include border-box;
        color: $white;
        display: block;
        padding: 10px 40px 10px 55px;
        line-height: 40px;
        text-decoration: none;
        position: relative;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;

        &:before {
          display: block;
          content: '';
          position: absolute;
          left: 20px;
          top: 20px;
        }

        &:hover {
          background-color: $lime;
        }
      }
    }
  }
}

body > header nav ul li {
  &.search-link a:before {
    @extend .icon-magnifying-glass-large;
    @include icon-white;
  }
  &.manage-link a:before {
    @extend .icon-sprocket-large;
    @include icon-white;
  }
  &.documentation-link a:before {
    @extend .icon-document-large;
    @include icon-white;
  }
}

/* active states */
#search_flow .search-link a,
#manage_flow .manage-link a {
  background-color: $lime;
}

cite.built-by {
  float: right;
  margin: 3px 15px 13px 0;

  h2 {
    float: left;
    height: 30px;
    width: 140px;
    margin: 0;
    padding: 0;
    @include hide-text;
    background: image-url('ctl_base_ui/ctl_logo_base.svg') no-repeat;
    @include background-size(140px, 30px);
    background-position: center left;
  }
}

aside.host {
  float: left;
  margin-left: 30px;

  &:hover {
    cursor: pointer;
  }

  span {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
    color: $dark_grey;
    font-weight: 400;
  }

  .health {
    margin-top: 5px;
    position: relative;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background: darken($ctl_light_green, 10%);

    section.details {
      padding: 10px;
      width: 220px;
      top: 24px;
      left: -30px;

      &:before {
        left: 30px;
      }
    }

    &.danger {
      background-color: $dark_red;
    }

    &.warning {
      background: #F5D04C;
    }

    &.good {
      background: darken($ctl_light_green, 10%);
    }

    li {
      clear:both;
      height: 25px;
      line-height: 25px;

      span {
        line-height: inherit;
        margin: -1px 0 0 4px;
        padding-right: 2px;
        font-weight: bold;
      }
    }

    footer {
      margin-top: 15px;
      font-style: italic;
      font-size: 0.9em;
    }
  }
}

main {
  clear: both;
  width: 960px;
  margin: 0 auto;
}

h1.breadcrumbs {
  ul li {
    display: inline;
    font-size: 0.6em;
    margin: 0;
    padding: 0;

    &:not(:last-of-type):after {
      content: '/';
      color: $grey;
      display: inline-block;
      margin-left: 10px;
    }

    a {
      color: $blue_grey;
    }

    &:last-child:before {
      display: block;
      margin-top: 10px;
      content: '';
    }

    &:last-child {
      padding: 0;
      position: relative;
      font-size: 1em;
      color: $orange;
    }
  }
}

//Unified button menu styling

ul[class*='button-menu'] {
  float: right;

  li {
    display: block;
    float: left;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }

    a {
      font-size: 14px;
      color: $white;
      display: inline-block;
      position: relative;
      padding: 10px 10px 10px 25px;
      text-align: left;
      text-decoration: none;
      border-radius: 3px;

      &.template {
        background: $green;

        &:hover {
          background: $ctl_light_green;
        }

        &:after {
          @include icon-white;
          @extend .icon-star;
          content: '';
          position: absolute;
          left: 10px;
          top: 11px;
          display: block;
          height: 10px;
          width: 10px;
        }
      }

      &.reload {
        background: $dark_grey;

        &:hover {
          background: $medium_grey;
        }

        &:after {
          @include icon-white;
          @extend .icon-arrowloop;
          content: '';
          position: absolute;
          left: 10px;
          top: 12px;
          display: block;
          height: 10px;
          width: 10px;
        }
      }

      &.delete {
        background: $dark_red;

        &:hover {
          background: lighten($dark_red, 10%);
        }

        &:after {
          @include icon-white;
          @extend .icon-x;
          content: '';
          position: absolute;
          left: 10px;
          top: 12px;
          display: block;
          height: 10px;
          width: 10px;
        }
      }
    }
  }
}

//Unified action menu icons

.actions {
  a.delete-action,
  a.edit-action,
  a.view-action {
    @include hide-text;
    float: left;
    width: 20px;
    height: 100%;
    position: relative;

    &:after {
      @include icon-light-grey;
      left: 5px;
      top: 16px;
      position: absolute;
      content: '';
    }
  }

  a.edit-action,
  a.view-action {
    &:hover:after {
      @include icon-grey;
    }
  }

  a.edit-action {
    &:after {
      @extend .icon-pencil;
    }
  }

  a.view-action {
    &:after {
      @extend .icon-magnifying-glass;
    }
  }

  a.delete-action {
    &:after {
      @extend .icon-x;
    }

    &:hover:after {
      @include icon-red;
    }

    &.disabled {
      &:hover:after {
        @include icon-light-grey;
      }
    }
  }
}

// Confirm delete dialog

.confirm-delete {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  color: $medium_grey;
  font-weight: normal;
  font-size: 0.9em;

  span {
    padding: 0;
    display: block;
    margin-top: -8px;

    button {
      padding: 3px 15px;
      border-radius: 3px;
      box-shadow: none;
      border: none;
      outline: none;

      &.yes {
        color: $white;
        background: $dark_red;

        &:hover {
          cursor: pointer;
          background: darken($dark_red, 5%);
        }
      }

      &.no {
        background: $medium_grey;
        color: $dark_grey;

        &:hover {
          cursor: pointer;
          background: darken($medium_grey, 5%);
        }
      }
    }
  }
}

.indicate-new {
  background: $yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  cursor: not-allowed;
}

.content-editable {
  @include border-radius('5px');
  position: relative;
  margin: 0;
  border: 2px solid $medium_grey;
  background: $white;
  display: block;
  padding: 10px 5px;
  width: 100%;
  box-sizing: border-box;
  outline: 0px solid transparent;

  &:focus {
    outline: 0px solid transparent;
  }

  .edit-field {
    margin-left: 1px;
  }

  *[contenteditable=true] {
    outline: 0px solid transparent;
  }

  .checkmark {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    @extend .icon-checkmark-large;
    @include icon-light-grey;

    &:hover {
      @include icon-grey;
      cursor: pointer;
    }
  }

  .checkmark.dirty {
    width: 30px;
    height: 30px;
    @extend .icon-checkmark-large;
    @include icon-light-green;
  }

  .loading {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 8px;
    width: 16px;
    height: 16px;
    background-image: image-url('icon_loading_green.gif');
    background-position: top left;
    background-repeat: no-repeat;

  }
}

/* Base styles for tooltips */
.tooltip {
  display: block;
  position: absolute;
  z-index: 9999;
  color: $warm_grey;
  background: $yellow;
  font-weight: normal;
  font-size: 0.85em;
  padding: 5px;
  @include border-radius(5px);
  word-wrap: break-word;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 6px solid $yellow;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: -6px;
  }
}

footer {
  clear: both;
  margin-top: 70px;

  .content {
    background: $light_grey;
    padding: 20px;
    overflow: auto;
  }

  h4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content > p:first-of-type {
    margin-bottom: 20px;
    width: 60%;
  }


  ul li {
    display: inline-block;

    a {
      display: inline-block;
      font-size: 14px;
      margin: 0px 10px 0px 0px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.github-link a {
      @extend .icon-github-large;
    }

    &.twitter-link {
      a {
        @extend .icon-twitter-large;
      }

      &:after {
        content: '|';
        font-weight: 100;
        color: $medium_grey;
        margin-right: 5px;
      }
    }

    &.github-link a,
    &.twitter-link a {
      margin-bottom: -5px;
      width: 20px;
      @include hide-text;
      @include icon-light-grey;

      &:hover {
        @include icon-grey;
      }
    }
  }

  #email_newsletter {
    width: 35%;
    float: right;
  }

  .ctl-copyright {
    min-height: 70px;
    padding: 20px 20px 0px 40px;
    background: image-url('ctl_base_ui/ctl_logo_base.svg') no-repeat 20px 20px;
    @include background-size(140px, 30px);

    .microcopy {
      margin: 6px 0px 0px 140px;
      font-size: 12px;
    }
  }
}

.notice {
  ul {
    list-style: disc;
    list-style-position: inside;

    li {
      font-size: 13px;
    }
  }
}

.context-help {
  section.tooltip {
    padding: 10px 15px 10px 10px;
    display: none;
    min-width: 345px;
    max-width: 490px;

    &:before {
      display: none;
    }

    > aside.arrow {
      box-sizing: content-box;
      width: 0;
      height: 0;
      display: block;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $yellow;
      position: absolute;
      left: 30px;
      top: -6px;
    }

    &:hover {
      cursor: auto;
    }

    p {
      font-size: 13px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    pre {
      font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
      background-color: lighten($yellow, 10%);
      border: 1px solid darken($yellow, 10%);
      padding: 5px 5px 4px 5px;
    }

    span.dismiss {
      float: right;
      width: 15px;
      height: 15px;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 5px;
        display: block;
        @include icon-light-grey;
        @extend .icon-x;
        width: 20px;
        height: 20px;
      }
    }
  }
}

em {
  font-style: italic;
}

pre.prettyprint {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 0.9em;

  span {
    color: $dark_grey;
    line-height: 1.15em;
  }

  span.com, span.str {
    font-style: normal;
  }

}
