@import 'ctl_base_ui/colors';
@import 'ctl_base_ui/mixins';
@import 'ctl_base_ui/icons';

.search-form {
  input#search_form_query {
    @include border-box;
    padding: 15px;
    font-size: 0.9em;
    border: $dark_grey 1px solid;
    width: 740px;
  }
  input[type='submit'] {
    @include border-box;
    @extend .icon-magnifying-glass-for-button;
    float: right;
    width: 200px;
  }
}

.search-result-item {
  background-color: $light_grey;
  border: darken( $light_grey, 10% ) 1px solid;
  margin: 1em 0;
  overflow: auto;

  .badge {
    float: left;
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    background-color: $grey;
    color: $white;
    font-size: 0.9em;
  }
  .basic-info {
    float: left;
    margin: 10px 20px;
    padding: 0 20px;
    @include border-box;
    width: 530px;
    height: 90px;
    overflow: auto;
    border-left: darken( $light_grey, 10% ) 1px solid;

    h3 {
      margin-bottom: 0;
    }
    p {
      padding-bottom: 0.5em;
      font-size: 0.8em;
      line-height: 1.2;
    }
  }
  .badge {
    height: 110px;
    width: 110px;
  }
  .actions {
    float: right;
    min-height: 90px;
    border-left: darken( $light_grey, 10% ) 1px solid;
    padding-left: 20px;
    margin: 10px 20px;

    .button-positive {
      @extend .icon-thick-arrow-right-for-button;
      padding-right: 50px;
      background-position: 110px -704px;
    }
  }
}

.search-result-item.in-progress {
  .basic-info p {
    margin-top: 35px;
  }
  .badge {
    background: asset-url('loading_blocks.gif') no-repeat center center;
  }
}

.search-result-item.no-results {
  .basic-info {
    padding-top: 30px;
    min-height: 90px;
    width: 700px;
    @include border-box;
  }
  .badge {
    background: asset-url('frowny_face.png') no-repeat center center;
  }
}
