%script#new_category_template{type: 'text/x-handlebars-template'}
  .category-panel.new
    %header
      .name
        %span.title
          &nbsp;
      .actions
        %a{href: "/categories/77", class: 'delete-action'}
        = link_to 'Cancel', '#', class: 'text cancel', title: 'cancel'

%script#category_archetype{type: 'text/x-handlebars-template'}
  .category-panel
    %header
      %span.title
        {{name}}
      .actions
        %a{href: "/categories/{{id}}", class: 'edit-action'}
        %a{href: "/categories/{{id}}", class: 'delete-action'}
    = link_to 'Add a Service', '#', class: 'button-positive add-service', title: 'add', data: {:category => '{{id}}'}

.category-panel.add
  %header
    %span.title
      Add a Category
  %button.button-positive.add-category