.category-panel
  %header
    Category Name
  %ul.services
    %li
      .service-icon
      %span
        Wordpress
      .actions
        %a.edit-action
        %a.delete-action
  %a.add-service
    Add a Service

#add-service-form
  %p foo
  %p bar
  %p baz
  %input{ :type => 'text', :id => 'search_form_query' }
  .image-results