%li#port_binding
  a new thing
  %input#service_ports_attributes_1{name: '_replaceme_'}
  %select#service_ports_attributes_2{name: '_replaceme_'}
    %option{selected: true, value: 'TCP'} TCP
  %a.cancel cancel

%button.add-button
