%section.notice
  %div{class: 'notice-success'}
    %a.dismiss
    %strong
      %br
      Click
      %a{href:"#", class: "instructions-dialog", "data-doc-url" => 'http://localhost/applications/77'} here
      to read the additional instructions provided by the author of the template used to create this application.
      #post-run-html
        %h1 Instructions

