%li#row_template
  a new thing
  %input{name: '_replaceme_'}
  %input#alias_input{name: 'alias_replaceme_'}
  %select{name: '_replaceme_'}
    %option{selected: true, value: 'foo'} bar
  %a.cancel cancel
.environment-variables
  .additional-entries
    %dl
      %dt PASSWORD
      %dd abc123

  %button.button-add
