%li#row_template
  a new thing
  %input{name: '_replaceme_'}
  %select{name: '[volumes_from]_replaceme_'}
    %option{selected: true, value: 'foo'} bar
  %a.cancel cancel
.mounted-containers
  %ol.additional-entries
    %li first thing
    %li second thing

  %button.button-add
