%li#row_template
  a new thing
  %input{name: '_replaceme_'}
  %input#alias_input{name: 'alias_replaceme_'}
  %select{name: '_replaceme_'}
    %option{selected: true, value: 'foo'} bar
  %a.cancel cancel
%ol
  %li first thing
  %li second thing

%button.add-button
