%section.applications
  %div.application
    .name
    TEST
    .actions
      %ul.application-button-menu
        %li
          = link_to 'Delete App', '/applications/1', class: 'delete', title: 'delete'
