%script#blog_item_template{type: 'text/x-handlebars-template'}
  %li
    %span.timestamp {{timestamp}}
    %a{href: '{{link}}', target: '_new'}
      {{title}}

%ul.blog-feed-items{ data: { source: 'http://foo.com/bar' } }
