.context-help
  %section
    %span{:class=>'dismiss'}
    %p Panamax currently supports the volume (-v) command for mounting a host directory as a data volume and adding a data volume to a container.
    %p
      For adding a data volume to a container, provide the path to the volume on the container. For mounting a host directory, provide the local host path and the mapped container path.
      Panamax does not currently support the read-only option (:ro) or volumes from (--volumes-from).
    %p To see if any additional volumes were mounted via the VOLUME command at run time, review the Dockerfile of any base images.
    %a{href: 'http://theserver/with/info', class: 'theLink'}Link
