%ul.destroy
  %li
    .actions
      = link_to 'delete',
                '/destroy_location/1',
                class: 'delete-action',
                title: 'delete',
                method: :delete