%div.breadcrumbs
  %ul
    %li
      MYSERVICE

.service-details

  #image-name
    foo/bar

  #service_command
    \/bin/bash

  .service-links
    %ul.entries
      %li
        .link-name
          MYSQL
        .link-alias
          DB
  %table.port-bindings
    %tr
      %td
        .host-port
          1111
        .container-port
          2222
        .proto
          TCP
      %li
        %input.host-port
        %input.container-port{ value: '3333' }
        %select.proto
          %option{ selected: true, value: 'UDP' }
            UDP
  .exposed-ports
    %ul
      %li
        %span.exposed-port
          4444
    %ul
      %li
        %input.exposed-port{ value: '5555' }
  .environment-variables
    %dl.entries
      %dt.variable-name
        PATH
      %dd.variable-value
        %input{ value: '/tmp' }
    %dl
      %input{ value: "Just another random DL to spice up your tests" }
    %dl.entries
      %dt
        %input.variable-name{ value: 'DEBUG' }
      %dd.variable-value
        %input{ value: 'TRUE' }
  .volumes
    .data-containers
      %ul.entries
        %li
          .host-path
            \/var/dir1
          %input.container-path{ value: "/var/dir2" }
        %li
          %input.host-path
          %input.container-path{ value: '/tmp/dir'}

  #docker-string
