%section
  %ul.application-button-menu
    %li
      .settings-container
        %ul.settings-menu
          %li
            = link_to 'Export Compose YAML',
                      '#',
                      title: 'export',
                      class: 'link export',
                      data: { composePath: '/apps/11/compose_yml', downloadPath: 'http://localhost/apps/11/compose_download.yaml' }
