%ul.services
  %li
    .service-icon
      %img{src:''}
    = link_to 'Wordpress',
              '/applications/1/services/1',
              class: 'status-running',
              title: 'details'
    .actions
      = link_to 'edit',
                 '/applications/1/services/1',
                 class: 'edit-action',
                 title: 'details'
      = link_to 'delete',
                '/applications/1/services/1',
                class: 'delete-action',
                title: 'delete',
                method: :delete