%section.template-repos
  %ul
    %li
      .repo-info
        %a{href: '#'}
        %span.count
      .actions
        %a{href: '#', title: 'delete', class: 'delete-action'}
  %form.new_template_repo{style: 'display: none;'}
  %button.button-add
    Add a Source