%section.registries
  %ul
    %li
      .actions
        %a{href: '#', title: 'delete', class: 'delete-action'}
  %form.create-registry{style: 'display: none;'}
    %input{type: 'text'}
  %button.button-add
    Add a Registry
  %a.cancel
    Cancel