%span.service-status

%table.port-bindings
  %thead
    %th
      host:container/protocol
    %th
      mapped endpoint
    %th
  %tbody
    %tr.present-host
      %td
        %span.host-port 1234
        %span.container-port 3333
        %span.proto
        = link_to 'localhost:1234',
                  'localhost:1234',
                  class: 'view-action',
                  data: {host: 'localhost'}
      %td
        .actions

    %tr.auto-assigned-host
      %td
        %span.host-port
        %span.container-port
          3333
        %span.proto
        = link_to 'localhost:3000',
                  'localhost:3000',
                  class: 'view-action',
                  data: {host: 'localhost'}
      %td
        .actions
