%span.service-status{ data: { source: '/foo/bar' } }

%table.port-bindings
  %thead
    %th
      host:container/protocol
    %th
      mapped endpoint
    %th
  %tbody
    %tr{data: {host: 'localhost'}, class: 'dynamic-host'}
      %td
        %span.host-port
        %span.container-port
          3333
        %span.proto
        = link_to 'localhost:3000',
                  'localhost:3000',
                  class: 'view-action',
                  data: {host: 'localhost'}
      %td
        .actions
