%form
  %a{data: {checkbox: {selector: '#linked_checkbox'}}} delete!
  %input#linked_checkbox{type: 'checkbox', checked: false}
  %input{type: 'number'}
  %textarea
  %select
    %option{value: 1} one
    %option{value: 2} two
  %input{type: 'submit'}
