%span.service-status{ data: { source: '/foo/bar' } }
  %span.panamax-state
  .tooltip
    %ul
      %li
        %span.sub-state
      %li
        %span.active-state
      %li
        %span.load-state
