%section.application-services{data: { source: '/apps/1/services' } }
  %header
    %h3
      Application Services
    %nav
      %a.list= ''
      %a.relationship= ''
  .views
    .relationships
    .categories
      .category-panel
        %header{ data: { category: 1 } }
          %span.title
            Title
          .actions
        %ul.services
          %li{ data: { id: '77' } }
            .service-icon
              %img{src: 'someicon'}
              %a{class: 'app-service-status'}
          %li{ data: { id: '99' } }
            .service-icon
              %img{src: 'someicon'}
              %a{class: 'app-service-status'}
