.views
  .categories
    .category-panel
      %header{ data: { category: 1 } }
        %span.title
          Title
        .actions
      %ul.services
        %li{ data: { id: '77' } }
        %li{ data: { id: '99' } }
    .category-panel
      %header{ data: { category: 2 } }
        %span.title
          Title
        .actions
      %ul.services
        %li{ data: { id: '77' } }
        %li{ data: { id: '99' } }
