.select-target-container
  .select-target{ data: { toggle: { class: 'expanded' } } }
    %header
      Run Template
    .target-options
      %ul
        %li
          %button.link{ data: { loading: 'Starting App...', tracking: { method: 'click', action: 'Create Application', category: 'Run Template', label: 'title' }}} Run Locally
