
%form{ class: 'preview-form'}
  %input{type: 'hidden', id: 'description', name: 'description', value: 'testing'}
  %textarea{id: 'documentation', name: 'documentation', class: 'template_documentation'}

  = button_tag 'Preview Template File', type: 'button', class: 'button-secondary preview', data: { previewPath: '/apps/11/template' }

