%script#loading_row_template{type: 'text/x-handlebars-template'}
  .search-result-item.in-progress
    .badge
    .basic-info
      %p
        Loading Template Details

.search-result-item.template-result
  .basic-info
    %h3
      test/image
    %p
      a test image
      %a{href:"#", class: "template-details-link", data: { 'template-id' => '{{id}}' }}
        More Details
    %p.microcopy
      Last Updated: July 18th, 2014 14:30
  .actions
    %form{action: '#'}
      %input{type:'hidden', name: 'app[template_id]', value: 77}
      %button{ data: { disable_with: 'Starting App...'} }
        Run Template

#template-details-dialog

.ui-dialog.template-details-dialog
  .button-positive
