.target-container
.toggler{data: { toggle: { target: '.target-container', class: 'collapsed' }}}
  %a.no-passthru{ href: '#' }
  %a.passthru{ href: '#', 'data-passthru' => 'true' }
.toggler-no-target{data: { toggle: { class: 'collapsed' }}}
