- content_for(:body_id, 'deployments_flow')
= render '/shared/breadcrumbs', breadcrumbs: ["Manage",
                                              link_to("Remote Deployment Targets", deployment_targets_path),
                                              @deployment_target.name]
%script#deployment_template{type: 'text/x-handlebars-template'}
  = render 'deployment', { presenter: JsonDeploymentPresenter.new(@deployment_target, self) }

- @deployments.each do |deployment|
  - presenter = DeploymentPresenter.new(@deployment_target, deployment, self)
  .deployment{ id: presenter.dom_id, data: { show_path: deployment_target_deployment_path(@deployment_target.to_param, deployment.to_param) } }
    = render 'deployment', { presenter: presenter }
