- content_for(:body_id, 'images_flow')

= render '/shared/breadcrumbs', breadcrumbs: [ "Manage",
                                                link_to("Dashboard", dashboard_index_path),
                                                "Images" ]

- unless @images.blank?
  %ul.images
    - @images.each do |image|
      %li
        %h3= image.tags.first
        %h6= image.tags[1..-1].try(:join, ', ')
        %dl
          %dt
            Image ID:
          %dd
            =image.id
          %dt
            Image Size:
          %dd
            =number_to_human_size(image.virtual_size)
        .actions
          = link_to 'Delete', image_path(image.id), method: :delete, class: 'delete-action'

